# I-Tree data Crawling

In [286]:
from selenium import webdriver
import pandas as pd
import time

In [287]:
driver = webdriver.Chrome()
driver.get("https://planting.itreetools.org/app/location/")
time.sleep(3)
driver.find_element_by_xpath("//select[@id='id_partition']/option[@data-abbr='IL']").click() # Change
time.sleep(3)
driver.find_element_by_xpath("//select[@id='id_secondary_partition']/option[@value='929']").click() # Change 
time.sleep(3)
driver.find_element_by_xpath("//select[@id='id_tertiary_partition']/option[@value='9539']").click() # Change
time.sleep(5)
driver.find_element_by_xpath("//div[@id='location']//button[@class='next btn btn-primary']").click()
time.sleep(3)
driver.find_element_by_xpath("//div[@id='parameters']//button[@class='next btn btn-primary']").click()

#### Read Data

In [650]:
total_tree = pd.read_csv("C:\\Users\\배현지\\Documents\\GitHub\\Tree\\DATA\\total_tree.csv", encoding="cp949", engine="python")

In [288]:
Itrees = total_tree[["수목명","흉고지름","Condition"]].drop_duplicates()

In [289]:
Itrees.head()

      수목명  흉고지름  Condition
0    회화나무  15.0       Fair
1    느티나무  29.0  Excellent
2    버즘나무  30.0  Excellent
3    왕벚나무  21.0  Excellent
4  메타세쿼이아  38.0  Excellent

In [331]:
k_tree = pd.read_csv("C:\\Users\\배현지\\Documents\\GitHub\\Tree\\DATA\\Mapping\\k_tree.csv", encoding="cp949", engine="python")

In [291]:
k_tree = k_tree[["Korean", "Value"]]

In [292]:
k_tree.rename(columns={"Korean":"수목명"}, inplace=True)

In [16]:
k_tree.head(3)

    수목명 Value
0  회화나무  SOJA
1  느티나무  ZESE
2  버즘나무  PLOR

In [293]:
data = pd.merge(Itrees, k_tree, on="수목명", how="outer")

In [19]:
data

         수목명  흉고지름  Condition   Value
0       회화나무  15.0       Fair    SOJA
1       회화나무  26.0  Excellent    SOJA
2       회화나무  30.0  Excellent    SOJA
3       회화나무  21.0  Excellent    SOJA
4       회화나무  22.0  Excellent    SOJA
5       회화나무  31.0  Excellent    SOJA
6       회화나무  23.0  Excellent    SOJA
7       회화나무  27.0  Excellent    SOJA
8       회화나무  38.0  Excellent    SOJA
9       회화나무  24.0  Excellent    SOJA
10      회화나무  29.0  Excellent    SOJA
11      회화나무  28.0  Excellent    SOJA
12      회화나무  25.0  Excellent    SOJA
13      회화나무  36.0  Excellent    SOJA
14      회화나무  33.0  Excellent    SOJA
15      회화나무  40.0  Excellent    SOJA
16      회화나무  32.0  Excellent    SOJA
17      회화나무  41.0  Excellent    SOJA
18      회화나무  24.0       Fair    SOJA
19      회화나무  12.0       Fair    SOJA
20      회화나무  34.0  Excellent    SOJA
21      회화나무  18.0       Fair    SOJA
22      회화나무  26.0       Fair    SOJA
23      회화나무  17.0       Fair    SOJA
24      회화나무  22.0       Fair    SOJA
25      회화나무  10.0       Fair    SOJA
26      회화나무  16.0       Fair    SOJA
27      회화나무  11.0       Fair    SOJA
28      회화나무  19.0       Fair    SOJA
29      회화나무  13.0       Fair    SOJA
...      ...   ...        ...     ...
6173   참빗살나무  26.0       Poor   EUHA9
6174   참빗살나무  20.0       Poor   EUHA9
6175   참빗살나무  22.0  Excellent   EUHA9
6176  루브라참나무  22.0       Poor   QUAL3
6177  루브라참나무  20.0       Poor   QUAL3
6178    쥐똥나무  32.0       Poor    LIOB
6179    능금나무  22.0       Poor    PYAN
6180     신단풍  25.0  Excellent  ACPADI
6181     신단풍  40.0  Excellent  ACPADI
6182     신단풍  20.0  Excellent  ACPADI
6183     신단풍  26.0  Excellent  ACPADI
6184     신단풍  24.0  Excellent  ACPADI
6185     신단풍  22.0  Excellent  ACPADI
6186     신단풍  21.0  Excellent  ACPADI
6187     신단풍  23.0  Excellent  ACPADI
6188    솔송나무  23.0  Excellent    TSCA
6189    솔송나무  24.0  Excellent    TSCA
6190    솔송나무  20.0  Excellent    TSCA
6191     피나무  60.0  Excellent   TIAM1
6192     피나무  40.0  Excellent   TIAM1
6193     피나무  27.0  Excellent   TIAM1
6194     피나무  26.0  Excellent   TIAM1
6195     피나무  30.0  Excellent   TIAM1
6196     백일홍  20.0  Excellent    COGL
6197     백일홍  25.0  Excellent    COGL
6198     백일홍  28.0  Excellent    COGL
6199     양버들  48.0  Excellent    SAGR
6200    송양나무  23.0  Excellent    EHAC
6201    송양나무  28.0  Excellent    EHAC
6202     복나무  20.0  Excellent    GASU

[6203 rows x 4 columns]

In [20]:
len(Itrees),len(data)

(6203, 6203)

먼저 해당 지역에 있는 나무 Value 추출

In [294]:
values = [_.get_attribute("value") for _ in driver.find_elements_by_xpath("//select[@class='tree-species']//option")]

In [22]:
values

['AL',
 'MA2',
 'FR',
 'FRNI',
 'FRPE',
 'SO',
 'FRAM',
 'POTR1',
 'TI',
 'TIAM',
 'BE',
 'BEPA',
 'BENI',
 'ACNE',
 'AEGL',
 'RHSP2',
 'CA3',
 'CASP',
 'JUVI',
 'THOC',
 'PRSE1',
 'PRSE2',
 'CADE',
 'PRVI',
 'GYDI',
 'PHAM',
 'PO',
 'PODE',
 'CO1',
 'COFL',
 'ULS',
 'ULAM',
 'ULPA',
 'ULPU',
 'GIBI',
 'CEOC',
 'TSCA',
 'CA1',
 'ILSP',
 'ILOP',
 'GLTR',
 'OSVI',
 'JU',
 'SYSP',
 'SYRE',
 'TICO',
 'ROPS',
 'MAGR',
 'AC',
 'ACGI',
 'ACNI',
 'ACPA',
 'ACPL',
 'ACRU',
 'ACSA1',
 'ACSA2',
 'ALJU',
 'MO',
 'MOAL',
 'QU',
 'QUMA1',
 'QUEL',
 'QURU',
 'QUPA',
 'QUCO',
 'QUBI',
 'QUNI',
 'QUAL',
 'PY',
 'PYCA',
 'PINI',
 'PICO5',
 'PIST',
 'PIPO',
 'PIRE',
 'PISY',
 'PIVI',
 'PR',
 'PRCE',
 'PONI',
 'CECA',
 'HISY',
 'PI1',
 'PIMA',
 'PIPU',
 'PIAB',
 'RHSP',
 'MAVI',
 'LIST',
 'PLOC',
 'LITU',
 'JUNI',
 'SA',
 'SADI',
 'CLLU']

In [295]:
matching = list()
for i in k_tree.iterrows():
    if i[1]["Value"] in values:
        matching.append(i[1]["Value"])

In [24]:
matching

['GIBI',
 'LITU',
 'ACPA',
 'ROPS',
 'PLOC',
 'PIST',
 'PODE',
 'ALJU',
 'QUPA',
 'PIAB',
 'ACSA1',
 'PODE',
 'ULPA',
 'THOC',
 'HISY',
 'ULPU',
 'ACSA2',
 'PHAM',
 'TSCA']

선택된 지역에서 사용될 data

In [296]:
input_data = pd.DataFrame(columns=data.columns)
for i in data.iterrows():
    if i[1][3] in matching:
        input_data = input_data.append(i[1], ignore_index=True)

In [86]:
input_data

       수목명  흉고지름  Condition  Value
0     은행나무  32.0  Excellent   GIBI
1     은행나무  31.0  Excellent   GIBI
2     은행나무  30.0  Excellent   GIBI
3     은행나무  22.0  Excellent   GIBI
4     은행나무  24.0  Excellent   GIBI
5     은행나무  21.0  Excellent   GIBI
6     은행나무  29.0  Excellent   GIBI
7     은행나무  26.0  Excellent   GIBI
8     은행나무  25.0  Excellent   GIBI
9     은행나무  28.0  Excellent   GIBI
10    은행나무  21.0       Poor   GIBI
11    은행나무  35.0  Excellent   GIBI
12    은행나무  23.0  Excellent   GIBI
13    은행나무  27.0  Excellent   GIBI
14    은행나무  40.0  Excellent   GIBI
15    은행나무  37.0  Excellent   GIBI
16    은행나무  34.0  Excellent   GIBI
17    은행나무  39.0  Excellent   GIBI
18    은행나무  33.0  Excellent   GIBI
19    은행나무  36.0  Excellent   GIBI
20    은행나무  38.0  Excellent   GIBI
21    은행나무  42.0  Excellent   GIBI
22    은행나무  43.0  Excellent   GIBI
23    은행나무  60.0  Excellent   GIBI
24    은행나무  83.0  Excellent   GIBI
25    은행나무  14.0       Fair   GIBI
26    은행나무  18.0       Fair   GIBI
27    은행나무   6.0       Fair   GIBI
28    은행나무  20.0       Fair   GIBI
29    은행나무  10.0       Fair   GIBI
...    ...   ...        ...    ...
1205   무궁화   9.0       Fair   HISY
1206  비술나무  35.0  Excellent   ULPU
1207  비술나무  36.0  Excellent   ULPU
1208  비술나무  42.0  Excellent   ULPU
1209  비술나무  21.0  Excellent   ULPU
1210  비술나무  55.0  Excellent   ULPU
1211  비술나무  39.0  Excellent   ULPU
1212  비술나무  38.0  Excellent   ULPU
1213  비술나무  33.0  Excellent   ULPU
1214  비술나무  30.0  Excellent   ULPU
1215  비술나무  45.0  Excellent   ULPU
1216  비술나무  65.0  Excellent   ULPU
1217  설탕단풍  26.0       Poor  ACSA2
1218  설탕단풍  21.0       Poor  ACSA2
1219  설탕단풍  20.0       Poor  ACSA2
1220  설탕단풍  31.0       Poor  ACSA2
1221  설탕단풍  29.0       Poor  ACSA2
1222  설탕단풍  24.0       Poor  ACSA2
1223  설탕단풍  22.0       Poor  ACSA2
1224  설탕단풍  25.0       Poor  ACSA2
1225  설탕단풍  23.0       Poor  ACSA2
1226  설탕단풍  37.0       Poor  ACSA2
1227  설탕단풍  28.0       Poor  ACSA2
1228  설탕단풍  34.0       Poor  ACSA2
1229  황벽나무  29.0       Poor   PHAM
1230  황벽나무  22.0       Poor   PHAM
1231  황벽나무  21.0       Poor   PHAM
1232  솔송나무  23.0  Excellent   TSCA
1233  솔송나무  24.0  Excellent   TSCA
1234  솔송나무  20.0  Excellent   TSCA

[1235 rows x 4 columns]

선택된 지역에서 사용하지 못하는 data

In [297]:
not_input_data = pd.DataFrame(columns=data.columns)
for i in data.iterrows():
    if i[1][3] not in matching:
        not_input_data = not_input_data.append(i[1], ignore_index=True)

In [323]:
not_input_data.head()

    수목명  흉고지름  Condition Value
0  회화나무  15.0       Fair  SOJA
1  회화나무  26.0  Excellent  SOJA
2  회화나무  30.0  Excellent  SOJA
3  회화나무  21.0  Excellent  SOJA
4  회화나무  22.0  Excellent  SOJA

#### 데이터 추출

In [87]:
input_data = input_data.head(35).copy()

In [298]:
j = 1
for i in input_data[:10].iterrows():
    driver.find_element_by_xpath("//tr[@id='row-{0}']//select[@class='tree-species']/option[@value='{1}']".format(j, i[1][3])).click()
    driver.find_element_by_xpath("//tr[@id='row-{0}']//input[@class='tree-dbh']".format(j)).clear()
    driver.find_element_by_xpath("//tr[@id='row-{0}']//input[@class='tree-dbh']".format(j)).send_keys("{}".format(i[1][1]))
    driver.find_element_by_xpath("//tr[@id='row-{0}']//select[@class='tree-condition']//option[@value='{1}']".format(j,i[1][2])).click()

    driver.find_element_by_xpath("//div[@id='trees']//input[@id='add-row-button']").click()
    j += 1

driver.find_element_by_xpath("//tr[@id='row-11']//input[@type='button']").click()
    
driver.find_element_by_xpath("//div[@id='trees']/button[@class='next btn btn-primary']").click()
time.sleep(15)
driver.find_element_by_xpath("//a[@class='btn btn-default buttons-csv buttons-html5 btn-primary']").click()

In [299]:
for q in range(10, len(input_data[:])-9, 10):
    j = 1
    time.sleep(3)
    driver.find_element_by_xpath("//a[@href='#trees']").click()
    time.sleep(3)  
    for i in input_data[q:q+10].iterrows():
        driver.find_element_by_xpath("//tr[@id='row-{0}']//select[@class='tree-species']/option[@value='{1}']".format(j, i[1][3])).click()
        driver.find_element_by_xpath("//tr[@id='row-{0}']//input[@class='tree-dbh']".format(j)).clear()
        driver.find_element_by_xpath("//tr[@id='row-{0}']//input[@class='tree-dbh']".format(j)).send_keys("{}".format(i[1][1]))
        driver.find_element_by_xpath("//tr[@id='row-{0}']//select[@class='tree-condition']//option[@value='{1}']".format(j,i[1][2])).click()

        j += 1
        
    driver.find_element_by_xpath("//div[@id='trees']/button[@class='next btn btn-primary']").click()
    time.sleep(15)
    driver.find_element_by_xpath("//a[@class='btn btn-default buttons-csv buttons-html5 btn-primary']").click()   
    
else:
    if len(input_data) % 10 != 0:
        j = 1
        driver.find_element_by_xpath("//a[@href='#trees']").click()
        time.sleep(3)
        for w in range(10, len(input_data) % 10, -1):
            driver.find_element_by_xpath(f"//*[@id='row-{w}']/td[1]/input").click()

        for i in input_data[len(input_data)-len(input_data)%10:].iterrows():                       
            driver.find_element_by_xpath("//tr[@id='row-{0}']//select[@class='tree-species']/option[@value='{1}']".format(j, i[1][3])).click()
            driver.find_element_by_xpath("//tr[@id='row-{0}']//input[@class='tree-dbh']".format(j)).clear()
            driver.find_element_by_xpath("//tr[@id='row-{0}']//input[@class='tree-dbh']".format(j)).send_keys("{}".format(i[1][1]))
            driver.find_element_by_xpath("//tr[@id='row-{0}']//select[@class='tree-condition']//option[@value='{1}']".format(j,i[1][2])).click()
            
            j += 1

        driver.find_element_by_xpath("//div[@id='trees']/button[@class='next btn btn-primary']").click()
        time.sleep(15)
        driver.find_element_by_xpath("//a[@class='btn btn-default buttons-csv buttons-html5 btn-primary']").click()                    
    else:
        pass

In [322]:
driver.close()

In [306]:
bene = pd.read_csv("benefit.csv")

이제 이 과정 반복

### CSV 파일 합치기

In [300]:
index = ["GI","TG","CO2 Avoided (pounds)","CO2 Avoided ($)","CO2 Sequestered (pounds)","CO2 Sequestered ($)",\
         "Electricity Saved (kWh)","Electricity Saved ($)","Fuel Saved (MMBtu)","Fuel Saved ($)","Tree Biomass (short ton)",\
         "Rainfall Interception (gallons)","Avoided Runoff (gallons)","Avoided Runoff ($)","O3 Removed (pounds)",\
         "NO2 Avoided (pounds)","NO2 Removed (pounds)","SO2 Avoided (pounds)","SO2 Removed (pounds)","VOC Avoided (pounds)",\
         "PM2.5 Avoided (pounds)","PM2.5 Removed (pounds)"]

In [302]:
len(input_data)

1235

In [325]:
benefit1 = pd.read_csv("C:\\Users\\배현지\\Downloads\\i-Tree_Planting-v1.2.0-data_Loves Park-IL (4).csv", names=index).iloc[2:,:]

for w in (range(5,100+1)):
    benefit2 = pd.read_csv(f"C:\\Users\\배현지\\Downloads\\i-Tree_Planting-v1.2.0-data_Loves Park-IL ({w}).csv", names=index).iloc[2:,:]
    benefit1 = pd.concat([benefit1, benefit2])
else:
    for w in (range(1,28)):
        benefit2 = pd.read_csv(f"C:\\Users\\배현지\\Downloads\\i-Tree_Planting-v1.2.0-data_Loves Park-IL {w}.csv", names=index).iloc[2:,:]
        benefit1 = pd.concat([benefit1, benefit2])

benefit1.to_csv("benefit.csv")

In [319]:
for w in (range(4,100+1)):
    benefit2 = pd.read_csv(f"C:\\Users\\배현지\\Downloads\\i-Tree_Planting-v1.2.0-data_Loves Park-IL ({w}).csv", names=index).iloc[2:,:]
    print(w-4, len(benefit2))
else:
    for w in (range(1,28)):
        benefit2 = pd.read_csv(f"C:\\Users\\배현지\\Downloads\\i-Tree_Planting-v1.2.0-data_Loves Park-IL {w}.csv", names=index).iloc[2:,:]
        print(w, len(benefit2))

0 10
1 10
2 10
3 10
4 10
5 10
6 10
7 10
8 10
9 10
10 10
11 10
12 10
13 10
14 10
15 10
16 10
17 10
18 10
19 10
20 10
21 10
22 10
23 10
24 10
25 10
26 10
27 10
28 10
29 10
30 10
31 10
32 0
33 10
34 10
35 10
36 10
37 10
38 10
39 10
40 10
41 10
42 10
43 10
44 10
45 10
46 10
47 0
48 0
49 10
50 10
51 10
52 10
53 10
54 10
55 10
56 10
57 10
58 10
59 10
60 10
61 10
62 10
63 10
64 10
65 10
66 10
67 10
68 10
69 10
70 10
71 10
72 0
73 10
74 0
75 10
76 10
77 10
78 10
79 10
80 10
81 10
82 10
83 10
84 10
85 10
86 10
87 10
88 10
89 10
90 10
91 10
92 10
93 10
94 10
95 10
96 10
1 10
2 10
3 10
4 10
5 10
6 10
7 10
8 10
9 10
10 10
11 10
12 10
13 10
14 10
15 10
16 10
17 10
18 10
19 10
20 10
21 10
22 0
23 10
24 10
25 10
26 10
27 5

필요없는 데이터 지우고 반복해서 돌리면 됨

Test

In [106]:
j = 1
for i in a[:10].iterrows():
    driver.find_element_by_xpath("//tr[@id='row-{0}']//select[@class='tree-species']/option[@value='{1}']".format(j, i[1][0])).click()
    driver.find_element_by_xpath("//tr[@id='row-{0}']//input[@class='tree-dbh']".format(j)).clear()
    driver.find_element_by_xpath("//tr[@id='row-{0}']//input[@class='tree-dbh']".format(j)).send_keys("{}".format(i[1][1]))
    driver.find_element_by_xpath("//tr[@id='row-{0}']//select[@class='tree-condition']//option[@value='{1}']".format(j,i[1][2])).click()

#     driver.find_element_by_xpath("//div[@id='trees']//input[@id='add-row-button']").click()
    j += 1

driver.find_element_by_xpath("//div[@id='trees']/button[@class='next btn btn-primary']").click()
time.sleep(15)
driver.find_element_by_xpath("//a[@class='btn btn-default buttons-csv buttons-html5 btn-primary']").click()

#### 도시 / 지역 선택

In [31]:
driver.find_element_by_xpath("//select[@id='id_partition']/option[@data-abbr='IL']").click()

In [33]:
driver.find_element_by_xpath("//select[@id='id_secondary_partition']/option[@value='929']").click()

In [34]:
driver.find_element_by_xpath("//select[@id='id_tertiary_partition']/option[@value='9539']").click()

In [4]:
driver.find_element_by_xpath("//button[@class='next btn btn-primary']").click()

In [37]:
driver.find_element_by_xpath("//div[@id='parameters']/button[@class='next btn btn-primary']").click()

#### 이제 나무 선택

Species 선택

In [38]:
driver.find_element_by_xpath("//select[@class='tree-species']/option[@value='BEPA']").click()

DBH 선택

In [51]:
driver.find_element_by_xpath("//input[@class='tree-dbh']").clear()

In [52]:
driver.find_element_by_xpath("//input[@class='tree-dbh']").send_keys("5")

Condition 선택
- Excellent
- Fair
- Poor

In [56]:
driver.find_element_by_xpath("//select[@class='tree-condition']/option[@value='Excellent']").click()

In [57]:
driver.find_element_by_xpath("//select[@class='tree-condition']/option[@value='Fair']").click()

In [58]:
driver.find_element_by_xpath("//select[@class='tree-condition']/option[@value='Poor']").click()

여러개 추가 시

In [63]:
driver.find_element_by_xpath("//div[@id='trees']//input[@id='add-row-button']").click()

In [64]:
driver.find_element_by_xpath("//div[@id='trees']/button[@class='next btn btn-primary']").click()

Excel 파일 다운

In [65]:
driver.find_element_by_xpath("//a[@class='btn btn-default buttons-csv buttons-html5 btn-primary']").click()

#### 반복

다시 Tree select 창으로

In [67]:
driver.find_element_by_xpath("//a[@href='#trees']").click()

이전에 select 했던 것 지우기
- 2번해야 지워지네...?

In [ ]:
driver.find_element_by_xpath("//tr[@id='row-1']//input[@type='button']").click()

In [75]:
driver.find_element_by_xpath("//tr[@id='row-2']//input[@type='button']").click()

In [ ]:
driver.find_element_by_xpath("//tr[@id='row-3']//input[@type='button']").click()

In [ ]:
driver.find_element_by_xpath("//tr[@id='row-4']//input[@type='button']").click()

이전 select --> save csv 반복

# Bnefit CSV 전처리 하기

In [327]:
benefit = pd.read_csv('benefit.csv')

In [362]:
len(total_tree)

436000

In [363]:
a = pd.merge(total_tree, data, on = ("수목명", "흉고지름", "Condition"))

In [368]:
a.head()

,구명,위도,경도,수목명,품계수종,수고,품계활력,흉고지름,수관너비,Condition,Value
0,강남구,37.522895,127.020205,회화나무,8.0,8.0,8,15.0,5,Fair,SOJA
1,강남구,37.528457,127.037811,회화나무,8.0,8.0,8,15.0,5,Fair,SOJA
2,강남구,37.529299,127.033177,회화나무,8.0,4.0,8,15.0,4,Fair,SOJA
3,강남구,37.526001,127.046194,회화나무,8.0,6.0,8,15.0,3,Fair,SOJA
4,강남구,37.528569,127.031553,회화나무,8.0,7.0,8,15.0,6,Fair,SOJA

In [378]:
a[a['Value'].isna()]["수목명"].value_counts()

          64958
결주          273
백송           11
중국굴피나무        9
소사나무          9
고사            4
보호수           2
Name: 수목명, dtype: int64

# KNN

In [465]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
total_tree = pd.read_csv("C:\\Users\\배현지\\Documents\\GitHub\\Tree\\DATA\\total_tree.csv", encoding="cp949", engine="python")

In [567]:
q = h[["위도","경도","품계수종","수고","품계활력","흉고지름","수관너비","수목명"]].drop_duplicates()

In [549]:
len(q)

366791

In [572]:
q["품계수종"].fillna(0, inplace =True)

In [573]:
q.isna().sum()

위도      0
경도      0
품계수종    0
수고      0
품계활력    0
흉고지름    0
수관너비    0
수목명     0
dtype: int64

In [574]:
x_train, x_test, y_train, y_test = train_test_split(q.iloc[:,:-1], q.iloc[:,-1])

In [575]:
knn = KNeighborsClassifier()

In [576]:
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [605]:
bb.fillna(0, inplace=True)

In [600]:
bb = b[["위도","경도","품계수종","수고","품계활력","흉고지름","수관너비"]].drop_duplicates()

In [607]:
bbb = knn.predict(bb)

In [648]:
bbb[0]

'양버즘나무'

In [649]:
t = 0 
for x in b.loc[:,"수목명"].index:
    b.loc[x,"수목명"] = bbb[t]
    t += 1

KeyboardInterrupt:

In [ ]:
y_test.values

In [579]:
knn.score(x_test, y_test)

0.7464284935331196

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(h.iloc[:,:-1], h.iloc[:,-1])

In [429]:
a[a["Value"].isna()]["수목명"].value_counts()

          64958
결주          273
백송           11
중국굴피나무        9
소사나무          9
고사            4
보호수           2
Name: 수목명, dtype: int64

In [454]:
b = a[a["수목명"] == " " ]
c = a[a["수목명"] == "백송" ]
d = a[a["수목명"] == "중국굴피나무" ]
e = a[a["수목명"] == "소사나무" ]
f = a[a["수목명"] == "고사" ]
g = a[a["수목명"] == "보호수" ]

In [456]:
h = a.drop(index=b.index)
h.drop(index=c.index, inplace = True)
h.drop(index=d.index, inplace = True)
h.drop(index=e.index, inplace = True)
h.drop(index=f.index, inplace = True)
h.drop(index=g.index, inplace = True)