In [1]:
import pandas as pd

## 건물 기준
- 위도 / 경도

In [2]:
Building_location = pd.read_csv("./raw_data/Building_location.csv")

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (19,26,28,29,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
Building_location

,고유번호,이미지 파일 일련번호,지번본번,지번부번,도로구간 일련번호,지하층수,건물군 일련번호,지상층수,건물 일련번호,시군구코드,...,작업자 아이디,작업일시,기초구역번호,고지대상여부,입력방법,이전건물관리번호,발급여부,다량배달처여부,위도,경도
0,1,0,65,1,1933,0,0,3,17445,11110,...,장가희,20110225,3133,1,2,1111013700100650001014663,,N,37.573215,126.988200
1,3,0,64,1,1933,0,218,2,2803,11110,...,jgh0518,20120730161842,3133,1,2,1111013700100640001016594,,N,37.573266,126.988185
2,4,0,62,2,1933,1,0,2,17444,11110,...,장가희,20110225,3133,1,1,1111013700100620002013625,,N,37.573352,126.988156
3,5,0,49,0,1933,0,1325,1,17441,11110,...,jgh0518,20120731112002,3133,1,1,1111013700100490000014197,,N,37.573474,126.988168
4,6,0,49,0,1933,0,1325,1,17440,11110,...,jgh0518,20120731112002,3133,1,1,1111013700100490000014132,,N,37.573542,126.988189
5,7,0,49,0,1933,0,1325,1,17442,11110,...,jgh0518,20120731112002,3133,1,1,1111013700100490000015537,,N,37.573524,126.988101
6,8,0,48,0,1933,0,0,3,17439,11110,...,장가희,20110225,3133,1,1,1111013700100480000015193,,N,37.573504,126.988014
7,9,0,45,3,1933,0,0,1,17438,11110,...,장가희,20110225,3133,1,2,1111013700100450003016156,,N,37.573609,126.988033
8,10,0,9,0,1933,0,0,4,17437,11110,...,장가희,20110225,3132,1,2,1111013700100090000017902,,N,37.573788,126.987924
9,11,0,87,0,1734,0,0,6,14687,11110,...,장가희,20110225,3164,1,1,1111013600100870000016349,,N,37.570637,126.986333
10,12,0,88,0,1734,1,0,5,14688,11110,...,장가희,20110225,3164,1,1,1111013600100880000014315,,N,37.570542,126.986282
11,13,0,89,0,1734,0,0,3,14689,11110,...,장가희,20110225,3164,1,2,1111013600100890000014053,,N,37.570557,126.986149
12,14,0,117,0,1662,0,952,3,13865,11110,...,hwa0512,20120619162224,3164,1,1,1111013600101170000014765,,N,37.570762,126.986481
13,15,0,117,0,1662,0,952,1,13867,11110,...,hwa0512,20120619162224,3164,1,1,1111013600101180000017650,,N,37.570803,126.986290
14,48,0,200,0,1691,0,990,3,14194,11110,...,장가희,20110225,3183,1,2,1111011900102000000027543,,N,37.570686,126.976280
15,49,0,81,3,1691,3,987,6,14180,11110,...,jgh0518,20111006,3172,1,2,1111011900100810003027269,,N,37.571859,126.976180
16,43,0,102,0,1734,0,1317,1,17427,11110,...,LD611016,20120830135928,3164,1,1,1111013600101020000014847,,N,37.570658,126.986472
17,50,0,82,1,1691,0,988,8,14183,11110,...,jgh0518,20130903112215,3141,1,2,1111011900100820001015150,,Y,37.573716,126.978355
18,51,0,92,0,1734,0,0,1,14691,11110,...,장가희,20110225,3164,1,1,1111013600100920000014237,,N,37.570585,126.985954
19,52,0,7,20,1933,0,0,3,17419,11110,...,장가희,20110225,3190,1,2,1111013500100070014017436,,N,37.568910,126.987404
20,53,0,28,1,483,1,0,5,2784,11110,...,장가희,20110225,3191,1,2,1111013500100280001017547,,N,37.569236,126.988171
21,54,0,20,0,1269,0,763,0,10842,11110,...,장가희,20110225,3191,1,1,1111013500100200000013815,,N,37.569360,126.988101
22,55,0,290,1,2086,0,0,0,18237,11110,...,장가희,20110225,3140,1,1,1111013700102900001016759,,N,37.572054,126.987998
23,56,0,290,1,2086,0,0,0,18238,11110,...,장가희,20110225,3140,1,2,1111013700102900001016774,,N,37.572030,126.988066
24,57,0,289,2,1933,0,0,1,17452,11110,...,장가희,20110225,3140,1,1,1111013700102890002014824,,N,37.572222,126.988017
25,58,0,285,0,1933,0,0,1,17451,11110,...,장가희,20110225,3163,1,1,1111013700102850000013659,,N,37.572353,126.987414
26,59,0,280,4,1933,0,0,5,17449,11110,...,장가희,20110225,3148,1,2,1111013700102800004014680,,N,37.573529,126.987321
27,60,0,47,4,1933,0,1326,1,17396,11110,...,장가희,20110225,3148,1,2,1111013400100470004014435,,N,37.573730,126.987155
28,62,0,11,0,1793,0,220,1,2796,11110,...,jgh0518,20120823161144,3132,1,2,1111013700100110000017111,,N,37.573935,126.987924
29,63,0,11,0,1793,0,220,1,2797,11110,...,jgh0518,20120823161144,3132,1,2,1111013700100110000017131,,N,37.573954,126.987961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659157,212964,0,387,0,236,0,189,1,2589,11290,...,김세훈,20110223,2873,1,1,1129012800103870000038728,,N,37.579108,127.020725
659158,212968,0,861,1,3715,0,1906,0,30693,11290,...,김해림,20110401,2707,1,3,1129013300108530006029913,,N,37.610342,126.998856
659159,212996,0,233,377,4905,1,0,2,41185,11290,...,김세훈,20110223,2744,1,1,1129013800102330377014569,,N,37.612111,127.043982
659160,213008,0,81,44,3613,0,0,3,29973,11290,...,김세훈,20110223,2737,1,2,1129013600100810044019447,,N,37.607757,127.034881
659161,215953,0,2,27,1452,0,895,0,13676,11290,...,lss8689,20120531141624,2805,1,2,1129013500200020027022568,,N,37.597379,127.029441
659162,215968,0,167,15,3232,1,0,1,27945,11290,...,김세훈,20110223,2760,1,1,1129013800101670015006038,,N,37.621008,127.050736
659163,215990,0,54,387,2629,0,0,5,46260,11290,...,WOOKS-71,20150129095556,2809,1,1,1129013500100540387022774,1,,37.594684,127.032846
659164,215998,0,54,340,5012,0,0,3,42190,11290,...,김세훈,20110223,2809,1,1,1129013500100540340022658,,N,37.595286,127.033027
659165,216012,0,66,275,74,0,47,0,687,11290,...,김세훈,20110223,2771,1,1,1129013800100660275010940,,N,37.610116,127.052525
659166,216039,0,206,48,858,1,0,3,8814,11290,...,김세훈,20110223,2716,1,1,1129013300102060048032332,,N,37.608069,127.012935
659167,216054,0,16,0,264,0,0,1,2968,11290,...,김세훈,20110223,2830,1,1,1129011000100160000043178,,N,37.596118,127.014794
659168,216072,0,270,184,691,1,0,3,7191,11290,...,김세훈,20110223,2762,1,1,1129013800102700184012448,,N,37.617607,127.048761
659169,216088,0,266,76,3630,0,0,0,36374,11290,...,b612sunny,20121012161220,2717,1,1,1129013300102660076027715,1,N,37.612052,127.010607
659170,216105,0,103,23,655,0,0,4,6797,11290,...,김세훈,20110223,2832,1,2,1129010700101030023000001,,N,37.590941,127.010069
659171,216118,0,410,17,4462,0,2233,1,36501,11290,...,김세훈,20110223,2716,1,1,1129013300104100014034562,,N,37.608192,127.012245
659172,216130,0,149,0,4578,0,0,1,37541,11290,...,박혜선,20110516,2860,1,1,1129010500101490000000001,,N,37.588402,127.008750
659173,216147,0,541,17,4519,0,0,1,36948,11290,...,김세훈,20110223,2722,1,1,1129013400105410017026241,,N,37.603976,127.023922
659174,219106,0,111,0,669,1,0,4,6943,11290,...,김세훈,20110223,2845,1,1,1129011600101110000044748,,N,37.593075,127.018041
659175,219124,0,185,48,4251,1,0,1,34323,11290,...,김세훈,20110223,2784,1,1,1129013900101850048003763,,N,37.610291,127.062210
659176,219136,0,88,565,173,0,125,0,1840,11290,...,김세훈,20110223,2734,1,1,1129013600100880565019082,,N,37.604781,127.026435
659177,219152,0,238,240,4145,1,0,2,33415,11290,...,김세훈,20110223,2769,1,3,1129013800102380240009480,,N,37.613268,127.049317
659178,219175,0,443,60,2295,1,0,1,9630,11305,...,박석준,20091029,1069,1,3,1130510200104430060016132,,N,37.635541,127.027202
659179,219202,0,279,1,318,1,0,2,3609,11290,...,김세훈,20110223,2784,1,1,1129013900102790001003914,,N,37.609952,127.061330
659180,219206,0,175,12,4778,1,0,1,39854,11290,...,김세훈,20110223,2781,1,1,1129013900101750012003115,,N,37.612683,127.062420
659181,219225,0,25,103,4942,0,0,0,41462,11290,...,김세훈,20110223,2778,1,1,1129013800100250103007357,,N,37.616408,127.057992
659182,219246,0,461,88,2280,1,0,2,9561,11305,...,박석준,20091029,1058,1,3,1130510200104610088016555,,N,37.638836,127.029213
659183,219254,0,90,1456,3357,0,0,1,28642,11290,...,김세훈,20110223,2736,1,1,1129013600100901456017816,,N,37.606901,127.033048
659184,219270,0,67,41,4249,1,0,2,34296,11290,...,김세훈,20110223,2785,1,1,1129013900100670041004379,,N,37.608602,127.064438
659185,219280,0,64,42,348,1,0,2,3890,11290,...,김세훈,20110223,2771,1,1,1129013800100640042010417,,N,37.611471,127.055326
659186,219297,0,839,155,2791,1,0,2,11826,11305,...,박석준,20091029,1187,1,3,1130510100108390155034749,,N,37.620717,127.016096

In [14]:
len(Building_location)

659187

In [13]:
Building_location[["고유번호"]].drop_duplicates()

          고유번호
0            1
1            3
2            4
3            5
4            6
5            7
6            8
7            9
8           10
9           11
10          12
11          13
12          14
13          15
14          48
15          49
16          43
17          50
18          51
19          52
20          53
21          54
22          55
23          56
24          57
25          58
26          59
27          60
28          62
29          63
...        ...
659157  212964
659158  212968
659159  212996
659160  213008
659161  215953
659162  215968
659163  215990
659164  215998
659165  216012
659166  216039
659167  216054
659168  216072
659169  216088
659170  216105
659171  216118
659172  216130
659173  216147
659174  219106
659175  219124
659176  219136
659177  219152
659178  219175
659179  219202
659180  219206
659181  219225
659182  219246
659183  219254
659184  219270
659185  219280
659186  219297

[659187 rows x 1 columns]

In [10]:
Building_location.columns

Index(['고유번호', '이미지 파일 일련번호', '지번본번', '지번부번', '도로구간 일련번호', '지하층수', '건물군 일련번호',
       '지상층수', '건물 일련번호', '시군구코드', '도로명 코드', '기초구간 일련번호', '건물구분코드', '건물본번',
       '건물부번', '건물명', '건물 영문명', '상세 건물명', '건물 상태코드', '건물 용도코드', '건물 종속구분',
       '우편번호', '다량배달처건물명', '등록 공공문서명', '읍면동 코드', '리코드', '산여부', '완료일자', '고시일자',
       '이동사유코드', '이동사유', '이동일자', '작업자 아이디', '작업일시', '기초구역번호', '고지대상여부', '입력방법',
       '이전건물관리번호', '발급여부', '다량배달처여부', '위도', '경도'],
      dtype='object')

In [8]:
Building_location[["시군구코드","위도","경도","지상층수"]].head()

   시군구코드         위도          경도  지상층수
0  11110  37.573215  126.988200     3
1  11110  37.573266  126.988185     2
2  11110  37.573352  126.988156     2
3  11110  37.573474  126.988168     1
4  11110  37.573542  126.988189     1

In [15]:
new_building_location = Building_location[["시군구코드","위도","경도","지상층수"]]

In [20]:
new_building_location["index"] = new_building_location.index + 1

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
new_building_location = new_building_location[["index", "시군구코드","위도","경도","지상층수"]]

In [24]:
new_building_location[new_building_location["지상층수"] == 0]

         index  시군구코드         위도          경도  지상층수
21          22  11110  37.569360  126.988101     0
22          23  11110  37.572054  126.987998     0
23          24  11110  37.572030  126.988066     0
39          40  11110  37.572395  126.988047     0
60          61  11110  37.570636  126.987243     0
61          62  11110  37.570580  126.987056     0
63          64  11110  37.570591  126.986749     0
72          73  11110  37.572600  126.975650     0
79          80  11110  37.571629  126.976782     0
80          81  11110  37.572183  126.976836     0
82          83  11110  37.576266  126.986646     0
83          84  11110  37.575700  126.987008     0
84          85  11110  37.576402  126.986870     0
85          86  11110  37.576416  126.986688     0
86          87  11110  37.576319  126.987361     0
113        114  11110  37.574196  126.987558     0
125        126  11110  37.575335  126.985577     0
127        128  11110  37.575192  126.985637     0
129        130  11110  37.576345  126.987680     0
130        131  11110  37.576354  126.987780     0
131        132  11110  37.575472  126.987167     0
132        133  11110  37.576359  126.987951     0
133        134  11110  37.575466  126.988145     0
134        135  11110  37.576452  126.988031     0
136        137  11110  37.575375  126.987833     0
137        138  11110  37.576043  126.987820     0
138        139  11110  37.576351  126.988596     0
139        140  11110  37.576131  126.988312     0
142        143  11110  37.576093  126.986764     0
143        144  11110  37.575944  126.987174     0
...        ...    ...        ...         ...   ...
658992  658993  11290  37.613516  127.064611     0
658998  658999  11290  37.612234  127.050991     0
659000  659001  11290  37.607489  126.998752     0
659024  659025  11290  37.608804  127.030999     0
659029  659030  11290  37.612828  127.051956     0
659032  659033  11290  37.588089  127.030391     0
659034  659035  11290  37.592766  127.033896     0
659037  659038  11290  37.609143  127.013321     0
659039  659040  11290  37.587701  127.023559     0
659044  659045  11290  37.605928  127.012991     0
659072  659073  11290  37.587242  127.005877     0
659081  659082  11290  37.599408  127.005994     0
659083  659084  11290  37.590647  127.016723     0
659085  659086  11290  37.611438  127.009135     0
659090  659091  11290  37.605067  127.027485     0
659100  659101  11290  37.606059  127.033461     0
659104  659105  11290  37.591633  127.032978     0
659115  659116  11290  37.584472  127.016091     0
659117  659118  11290  37.607580  127.039949     0
659133  659134  11290  37.585290  127.010897     0
659137  659138  11290  37.611348  127.063574     0
659140  659141  11290  37.603591  127.018933     0
659142  659143  11290  37.598950  127.031394     0
659143  659144  11290  37.609633  127.012259     0
659158  659159  11290  37.610342  126.998856     0
659161  659162  11290  37.597379  127.029441     0
659165  659166  11290  37.610116  127.052525     0
659169  659170  11290  37.612052  127.010607     0
659176  659177  11290  37.604781  127.026435     0
659181  659182  11290  37.616408  127.057992     0

[64932 rows x 5 columns]

In [25]:
new_building_location.to_csv("./raw_data/%s.csv" % ("location"), index=False, encoding='ms949')

## 서울시 네모 구역
- 색깔 칠하기

위도 범위 : (37.413294, 37.715133)

경도 범위 : (126.734086, 127.269311)

In [26]:
37.715133-37.413294, 127.269311-126.734086

(0.3018390000000011, 0.535224999999997)

In [28]:
pd.DataFrame(columns=["first_lat", "firtst_log", "last_lat", "last_log"])

Empty DataFrame
Columns: [first_lat, firtst_log, last_lat, last_log]
Index: []

In [68]:
37.413294 + (37.715133 - 37.413294) / 4 * 2

37.5642135

In [69]:
DF = pd.DataFrame()

In [75]:
DF.radd()

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_expand_axes',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_getitem_bool_array',
 '_getitem_frame',
 '_getitem_multilevel',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'timetuple',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_numpy',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [101]:
def Division_zone(n,m):
    first_lat = 37.413294
    first_log = 126.734086
    lat_side_length = (37.715133 - 37.413294) / n
    log_side_length = (127.269311 - 126.734086) / m
    DF = pd.DataFrame()
#     DF = pd.DataFrame(columns=["first_lat", "firtst_log", "last_lat", "last_log"])
#     Count = n * m
    
    for i in range(n):
        last_lat = first_lat + lat_side_length
        index = i * m
        for j in range(m):
            last_log = first_log + log_side_length
            DF[index+j] = [first_lat, first_log, last_lat, last_log]
            first_log = last_log
        first_lat = last_lat
        first_log = 126.734086
        
#     for i in range(Count):
#         last_lat = first_lat + lat_side_length
#         last_log = first_log + log_side_length
#         DF[i] = [first_lat, first_log, last_lat, last_log]
#         first_lat = last_lat
#         first_log = last_log
        
    return DF

In [102]:
Division_zone(4,3).T

            0           1          2           3
0   37.413294  126.734086  37.488754  126.912494
1   37.413294  126.912494  37.488754  127.090903
2   37.413294  127.090903  37.488754  127.269311
3   37.488754  126.734086  37.564214  126.912494
4   37.488754  126.912494  37.564214  127.090903
5   37.488754  127.090903  37.564214  127.269311
6   37.564214  126.734086  37.639673  126.912494
7   37.564214  126.912494  37.639673  127.090903
8   37.564214  127.090903  37.639673  127.269311
9   37.639673  126.734086  37.715133  126.912494
10  37.639673  126.912494  37.715133  127.090903
11  37.639673  127.090903  37.715133  127.269311