In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("location.db")

In [3]:
cur = conn.cursor()

## Location DB
- 임시로 중구 데이터만 후에 서울시 전체 건물데이터로 바꿀 것
- 나중에 서울시 픽셀로 나눈 DB도 필요

In [13]:
cur.execute("""
    CREATE TABLE Location (
    id integer primary key autoincrement unique,
    latitude real not null,
    logitude real not null
           );""")

In [22]:
building = pd.read_csv("C:/Users/user/Desktop/Data/Building_location.csv")

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (19,26,28,29,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
Junggu_building = building[building['시군구코드']==11140]

In [24]:
Junggu_building_location = Junggu_building[['위도','경도']]

In [18]:
Junggu_building_location['위도'] = pd.to_numeric(Junggu_building_location['위도'], errors='coerce')

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
Junggu_building_location['경도'] = pd.to_numeric(Junggu_building_location['경도'], errors='coerce')

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
Junggu_building_location.dropna(inplace=True)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
Junggu_building_location.reset_index(inplace=True)

In [35]:
Junggu_building_location.drop('index', axis=1, inplace=True)

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [36]:
Junggu_building_location

              위도          경도
0      37.559466  127.003324
1      37.559265  127.003647
2      37.558820  127.002851
3      37.558718  127.002981
4      37.559504  127.003474
5      37.559334  127.003278
6      37.556228  127.009169
7      37.557996  127.007685
8      37.557951  127.008853
9      37.567790  126.982321
10     37.567691  126.983196
11     37.556978  126.985205
12     37.564820  126.983041
13     37.565102  126.982941
14     37.563972  126.982456
15     37.565316  126.983043
16     37.565062  126.983330
17     37.565277  126.983391
18     37.567174  126.983031
19     37.567254  126.983033
20     37.567515  126.983358
21     37.567961  126.983137
22     37.561002  126.977924
23     37.563579  126.982104
24     37.564470  126.988661
25     37.564492  126.988773
26     37.564509  126.988827
27     37.564825  126.988689
28     37.565072  126.988887
29     37.564528  126.988901
...          ...         ...
18934  37.555502  127.007269
18935  37.563865  126.996684
18936  37.562147  126.986091
18937  37.549440  127.006436
18938  37.567212  126.994687
18939  37.558646  126.963824
18940  37.565695  126.994496
18941  37.558374  126.995672
18942  37.565206  127.005723
18943  37.565502  126.994317
18944  37.560888  127.001139
18945  37.563238  127.003983
18946  37.564662  126.999162
18947  37.558000  126.963682
18948  37.563137  127.004798
18949  37.563709  127.008786
18950  37.563569  127.008806
18951  37.563672  127.011471
18952  37.560031  126.992155
18953  37.564732  127.019844
18954  37.567018  127.018071
18955  37.557282  126.980659
18956  37.563386  127.022031
18957  37.566267  127.018421
18958  37.567736  127.020077
18959  37.566603  127.018846
18960  37.565078  127.008797
18961  37.562902  127.014679
18962  37.566155  127.017539
18963  37.567051  127.013483

[18964 rows x 2 columns]

In [41]:
for i in Junggu_building_location.iterrows():
    cur.execute("INSERT INTO Location (latitude, logitude) VALUES (?, ?)", (i[1][0], i[1][1]))

In [42]:
conn.commit()

## Tree DB
- 수목명 / 위도 / 경도
- 후에 필요한 나무 정보 추가

In [4]:
cur.execute("DROP TABLE Tree")

In [49]:
cur.execute("""
    CREATE TABLE Tree (
    ID integer primary key autoincrement unique,
    Gu_name text not null,
    Latitude real not null,
    Logitude real not null,
    Species text not null,
    품계수종 real not null,
    수고 real not null,
    품계활력 real not null,
    흉고지름 real not null,
    수관너비 real not null
           );""")

In [5]:
tree = pd.read_csv("C:/Users/user/Desktop/Data/total_tree.csv", encoding="cp949", engine="python")

In [62]:
for i in tree.iterrows():
    cur.execute("INSERT INTO Tree (species, latitude, logitude) VALUES (?, ?, ?)", (i[1][0], i[1][1], i[1][2]))

In [63]:
conn.commit()

## I-Tree crawling DB
- Tree DB 기반으로 크롤링 하기 -> Tree DB for 돌리면 되지 않을까...?
- 이때 한글 - 영어 사전 만들어서 사용
- 전처리 과정 필요 -> Input + Output
- Column 명 바꾸기

In [ ]:
from selenium import webdriver
import time

In [ ]:
dic = {" ":" ", ....}

In [ ]:
for i in tree_cutdata.iterrows():
    driver = webdriver.Chrome()
    driver.get("https://planting.itreetools.org/app/location/")
    time.sleep(1)
    x = ['Utah', "C", "C"]
    driver.find_element_by_xpath('//*[@id="id_partition"]').send_keys(x[0])
    time.sleep(3)
    driver.find_element_by_id("id_secondary_partition").send_keys(x[1])
    time.sleep(3)
    driver.find_element_by_id("id_tertiary_partition").send_keys(x[2])
    time.sleep(3)
    driver.find_element_by_class_name("next").click()
    time.sleep(3)
    driver.find_element_by_xpath('//*[@id="parameters"]/button').click()
    time.sleep(3)
    
    # 여기서 부터 내일 다시 구현할 것

In [ ]:
# 참고
driver = webdriver.Chrome()
driver.get("https://planting.itreetools.org/app/location/")
time.sleep(1)
x = ['Utah', "C", "C"]
driver.find_element_by_xpath('//*[@id="id_partition"]').send_keys(x[0])
time.sleep(3)
driver.find_element_by_id("id_secondary_partition").send_keys(x[1])
time.sleep(3)
driver.find_element_by_id("id_tertiary_partition").send_keys(x[2])
time.sleep(3)
driver.find_element_by_class_name("next").click()
time.sleep(3)
driver.find_element_by_xpath('//*[@id="parameters"]/button').click()
time.sleep(3)
for x in [3,5,6,7,8,9,10]:
    driver.find_element_by_xpath(f'//*[@id="row-1"]/td[{x}]/select').send_keys(2)
    
for x in [4,11]:
    driver.find_element_by_xpath(f'//*[@id="row-1"]/td[{x}]/input').clear()
    driver.find_element_by_xpath(f'//*[@id="row-1"]/td[{x}]/input').send_keys(2)
driver.find_element_by_xpath('//*[@id="trees"]/button').click()
time.sleep(3)
driver.find_element_by_xpath('//*[@id="report-table-english_wrapper"]/div[1]/div[1]/div/a[2]').click()

driver.close()

In [77]:
Itree = pd.read_csv("C:/Users/user/Downloads/i-Tree_Planting-v1.2.0-data_Cache-UT.csv")
for i in range(1,3):
    Itree = pd.concat([Itree, pd.read_csv("C:/Users/user/Downloads/i-Tree_Planting-v1.2.0-data_Cache-UT (%d).csv" %i)])

In [81]:
Itree

,,,,,,,,,,,,,,,,,,,,This data was produced from the i-Tree Planting Calculator version 1.2.0 for Cache,UT.
Group Identifier,Tree Group Characteristics,CO2 Avoided (pounds),CO2 Avoided ($),CO2 Sequestered (pounds),CO2 Sequestered ($),Electricity Saved (kWh),Electricity Saved ($),Fuel Saved (MMBtu),Fuel Saved ($),Tree Biomass (short ton),Rainfall Interception (gallons),Avoided Runoff (gallons),Avoided Runoff ($),O3 Removed (pounds),NO2 Avoided (pounds),NO2 Removed (pounds),SO2 Avoided (pounds),SO2 Removed (pounds),VOC Avoided (pounds),PM2.5 ...,PM2.5 ...
1,(2) Apple (Malus species) at 2 inches DBH.Planted 20-39 feet and north (0°) of buildings that were built post-1980 with heat and A/C.Trees are in excellent condition and planted in full sun.,"1,810.9",$42.12,"4,068.7",$94.63,644.1,$63.53,2.7,$36.43,0.9,"32,148.1",117.0,$1.05,9.6,0.6,1.1,1.1,0.2,0.0,0.1,0.1
Group Identifier,Tree Group Characteristics,CO2 Avoided (pounds),CO2 Avoided ($),CO2 Sequestered (pounds),CO2 Sequestered ($),Electricity Saved (kWh),Electricity Saved ($),Fuel Saved (MMBtu),Fuel Saved ($),Tree Biomass (short ton),Rainfall Interception (gallons),Avoided Runoff (gallons),Avoided Runoff ($),O3 Removed (pounds),NO2 Avoided (pounds),NO2 Removed (pounds),SO2 Avoided (pounds),SO2 Removed (pounds),VOC Avoided (pounds),PM2.5 ...,PM2.5 ...
1,(2) Apple (Malus species) at 2 inches DBH.Planted 20-39 feet and north (0°) of buildings that were built post-1980 with heat and A/C.Trees are in excellent condition and planted in full sun.,"1,810.9",$42.12,"4,068.7",$94.63,644.1,$63.53,2.7,$36.43,0.9,"32,148.1",117.0,$1.05,9.6,0.6,1.1,1.1,0.2,0.0,0.1,0.1
Group Identifier,Tree Group Characteristics,CO2 Avoided (pounds),CO2 Avoided ($),CO2 Sequestered (pounds),CO2 Sequestered ($),Electricity Saved (kWh),Electricity Saved ($),Fuel Saved (MMBtu),Fuel Saved ($),Tree Biomass (short ton),Rainfall Interception (gallons),Avoided Runoff (gallons),Avoided Runoff ($),O3 Removed (pounds),NO2 Avoided (pounds),NO2 Removed (pounds),SO2 Avoided (pounds),SO2 Removed (pounds),VOC Avoided (pounds),PM2.5 ...,PM2.5 ...
1,(2) Apple (Malus species) at 2 inches DBH.Planted 20-39 feet and north (0°) of buildings that were built post-1980 with heat and A/C.Trees are in excellent condition and planted in full sun.,"1,810.9",$42.12,"4,068.7",$94.63,644.1,$63.53,2.7,$36.43,0.9,"32,148.1",117.0,$1.05,9.6,0.6,1.1,1.1,0.2,0.0,0.1,0.1

In [ ]:
cur.execute("""
    CREATE TABLE Itree (
    id integer primary key autoincrement unique,
    species text not null,
    input_1 real not null,
    output_1 real not null
           );""")

In [91]:
for i in Itree.iterrows():
    print(i[1])

This data was produced from the i-Tree Planting Calculator version 1.2.0 for Cache    PM2.5                                         ...
 UT.                                                                                  PM2.5                                         ...
Name: (Group Identifier, Tree Group Characteristics, CO2 Avoided (pounds), CO2 Avoided ($), CO2 Sequestered (pounds), CO2 Sequestered ($), Electricity Saved (kWh), Electricity Saved ($), Fuel Saved (MMBtu), Fuel Saved ($), Tree Biomass (short ton), Rainfall Interception (gallons), Avoided Runoff (gallons), Avoided Runoff ($), O3 Removed (pounds), NO2 Avoided (pounds), NO2 Removed (pounds), SO2 Avoided (pounds), SO2 Removed (pounds), VOC Avoided (pounds)), dtype: object
This data was produced from the i-Tree Planting Calculator version 1.2.0 for Cache    0.1
 UT.                                                                                  0.1
Name: (1, (2) Apple (Malus species)  at 2 inches DBH.Planted 20-39 feet and north (0°) of buildings that were built post-1980 with heat and A/C.Trees are in excellent condition and planted in full sun., 1,810.9, $42.12, 4,068.7, $94.63, 644.1, $63.53, 2.7, $36.43, 0.9, 32,148.1, 117.0, $1.05, 9.6, 0.6, 1.1, 1.1, 0.2, 0.0), dtype: object
This data was produced from the i-Tree Planting Calculator version 1.2.0 for Cache    PM2.5                                         ...
 UT.                                                                                  PM2.5                                         ...
Name: (Group Identifier, Tree Group Characteristics, CO2 Avoided (pounds), CO2 Avoided ($), CO2 Sequestered (pounds), CO2 Sequestered ($), Electricity Saved (kWh), Electricity Saved ($), Fuel Saved (MMBtu), Fuel Saved ($), Tree Biomass (short ton), Rainfall Interception (gallons), Avoided Runoff (gallons), Avoided Runoff ($), O3 Removed (pounds), NO2 Avoided (pounds), NO2 Removed (pounds), SO2 Avoided (pounds), SO2 Removed (pounds), VOC Avoided (pounds)), dtype: object
This data was produced from the i-Tree Planting Calculator version 1.2.0 for Cache    0.1
 UT.                                                                                  0.1
Name: (1, (2) Apple (Malus species)  at 2 inches DBH.Planted 20-39 feet and north (0°) of buildings that were built post-1980 with heat and A/C.Trees are in excellent condition and planted in full sun., 1,810.9, $42.12, 4,068.7, $94.63, 644.1, $63.53, 2.7, $36.43, 0.9, 32,148.1, 117.0, $1.05, 9.6, 0.6, 1.1, 1.1, 0.2, 0.0), dtype: object
This data was produced from the i-Tree Planting Calculator version 1.2.0 for Cache    PM2.5                                         ...
 UT.                                                                                  PM2.5                                         ...
Name: (Group Identifier, Tree Group Characteristics, CO2 Avoided (pounds), CO2 Avoided ($), CO2 Sequestered (pounds), CO2 Sequestered ($), Electricity Saved (kWh), Electricity Saved ($), Fuel Saved (MMBtu), Fuel Saved ($), Tree Biomass (short ton), Rainfall Interception (gallons), Avoided Runoff (gallons), Avoided Runoff ($), O3 Removed (pounds), NO2 Avoided (pounds), NO2 Removed (pounds), SO2 Avoided (pounds), SO2 Removed (pounds), VOC Avoided (pounds)), dtype: object
This data was produced from the i-Tree Planting Calculator version 1.2.0 for Cache    0.1
 UT.                                                                                  0.1
Name: (1, (2) Apple (Malus species)  at 2 inches DBH.Planted 20-39 feet and north (0°) of buildings that were built post-1980 with heat and A/C.Trees are in excellent condition and planted in full sun., 1,810.9, $42.12, 4,068.7, $94.63, 644.1, $63.53, 2.7, $36.43, 0.9, 32,148.1, 117.0, $1.05, 9.6, 0.6, 1.1, 1.1, 0.2, 0.0), dtype: object

In [ ]:
for i in Itree.iterrows():
    cur.execute("INSERT INTO Itree (species, input_1, output_1) VALUES (?, ?, ?)", ( , , ))