In [1]:
import pandas as pd

In [2]:
total_tree = pd.read_csv("./raw_data/total_tree.csv", encoding="cp949", engine="python")

일단 수목명 Top 20 뽑기

In [168]:
a = total_tree["수목명"].value_counts()

In [169]:
a

은행나무       141917
양버즘나무       80581
            64958
느티나무        39963
버즘나무        21487
메타세쿼이아      12444
벚나무         11319
소나무          8845
왕벚나무         8036
회화나무         5894
이팝나무         2649
중국단풍         2401
아카시아나무       2238
튤립나무         2234
단풍나무         2173
은단풍          1876
가죽나무         1737
버드나무         1668
목련           1640
칠엽수          1624
감나무          1542
향나무          1469
오동나무         1259
이태리포플러       1051
은백양           988
현사시나무         830
상수리나무         814
측백나무          685
수양버들          506
스트로브잣나무       478
            ...
섬벚나무            2
붉나무             1
물박달나무           1
고무나무            1
명자나무            1
갈매나무            1
좁은단풍            1
비목나무            1
괴불나무            1
거제수나무           1
개쉬땅나무           1
곰솔나무            1
노간주나무           1
능금나무            1
복나무             1
회나무             1
나무수국            1
닥나무             1
옥향              1
풍단              1
눈잣나무            1
분비나무            1
장미              1
수국              1
양버들             1
석류나무            1
우산고로쇠           1
쥐똥나무            1
탱자나무            1
무화과             1
Name: 수목명, Length: 202, dtype: int64

In [186]:
pd.DataFrame(a.index, columns=["수목명"]).head(30).to_csv("./raw_data/Gu/Top30.csv", index=False, encoding='ms949')

구에서 나무를 뽑을 때 Top 없는 것들을 Unkown 처리
- UI에 쓰일 것

In [158]:
Gu_name = pd.DataFrame(total_tree["구명"].drop_duplicates())
for i in Gu_name.iterrows():
    Gu_tree = pd.DataFrame(total_tree[total_tree["구명"] == i[1][0]]["수목명"].value_counts())
    Gu_tree.reset_index(inplace=True)
    Gu_tree.rename({"index":"수목명","수목명":"Counts"},axis=1, inplace=True)
    
    Top20 = pd.read_csv("./raw_data/Gu/Top20.csv", encoding="cp949", engine="python")
    Top20["Counts"] = 0
    Top20.loc[len(Top20)+1] = ["Unknown", 0]
    
    for row in Gu_tree.iterrows():
        if row[1][0] in list(Top20[:len(Top20)-1]["수목명"]):
            index = Top20[Top20["수목명"] == row[1][0]].index.values.astype(int)
            Top20.loc[index, "Counts"] += row[1][1]
        else :
            Top20.loc[21,"Counts"] += row[1][1]
    
    Top20.to_csv("./raw_data/Gu/{}_Top20.csv".format(i[1][0]), index=False, encoding='ms949')

구 별 나무 추출

In [190]:
total_tree[total_tree["구명"] == "강남구"].head()

    구명         위도          경도     수목명  품계수종    수고  품계활력  흉고지름  수관너비  Condition
0  강남구  37.522895  127.020205    회화나무   8.0   8.0     8  15.0     5       Fair
1  강남구  37.489393  127.057976    느티나무   6.0   7.0    15  29.0     8  Excellent
2  강남구  37.492149  127.064744    버즘나무   6.0  12.0    15  30.0     8  Excellent
3  강남구  37.524812  127.020405    왕벚나무   6.0   6.0    15  21.0     7  Excellent
4  강남구  37.478395  127.056869  메타세쿼이아   2.0  17.0    15  38.0     8  Excellent

In [189]:
Gu_name = pd.DataFrame(total_tree["구명"].drop_duplicates())
for i in Gu_name.iterrows():
    Gu_tree = total_tree[total_tree["구명"] == i[1][0]]
    
    Gu_tree.to_csv("./raw_data/Gu/{}_Tree.csv".format(i[1][0]), index=False, encoding='ms949')

동 같은 경우에도 동일하게 가능