In [53]:
import pandas as pd
import numpy as np

## 건물 기준
- 위도 / 경도

In [2]:
Building_location = pd.read_csv("./raw_data/Building_location.csv")

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (19,26,28,29,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
Building_location

,고유번호,이미지 파일 일련번호,지번본번,지번부번,도로구간 일련번호,지하층수,건물군 일련번호,지상층수,건물 일련번호,시군구코드,...,작업자 아이디,작업일시,기초구역번호,고지대상여부,입력방법,이전건물관리번호,발급여부,다량배달처여부,위도,경도
0,1,0,65,1,1933,0,0,3,17445,11110,...,장가희,20110225,3133,1,2,1111013700100650001014663,,N,37.573215,126.988200
1,3,0,64,1,1933,0,218,2,2803,11110,...,jgh0518,20120730161842,3133,1,2,1111013700100640001016594,,N,37.573266,126.988185
2,4,0,62,2,1933,1,0,2,17444,11110,...,장가희,20110225,3133,1,1,1111013700100620002013625,,N,37.573352,126.988156
3,5,0,49,0,1933,0,1325,1,17441,11110,...,jgh0518,20120731112002,3133,1,1,1111013700100490000014197,,N,37.573474,126.988168
4,6,0,49,0,1933,0,1325,1,17440,11110,...,jgh0518,20120731112002,3133,1,1,1111013700100490000014132,,N,37.573542,126.988189
5,7,0,49,0,1933,0,1325,1,17442,11110,...,jgh0518,20120731112002,3133,1,1,1111013700100490000015537,,N,37.573524,126.988101
6,8,0,48,0,1933,0,0,3,17439,11110,...,장가희,20110225,3133,1,1,1111013700100480000015193,,N,37.573504,126.988014
7,9,0,45,3,1933,0,0,1,17438,11110,...,장가희,20110225,3133,1,2,1111013700100450003016156,,N,37.573609,126.988033
8,10,0,9,0,1933,0,0,4,17437,11110,...,장가희,20110225,3132,1,2,1111013700100090000017902,,N,37.573788,126.987924
9,11,0,87,0,1734,0,0,6,14687,11110,...,장가희,20110225,3164,1,1,1111013600100870000016349,,N,37.570637,126.986333
10,12,0,88,0,1734,1,0,5,14688,11110,...,장가희,20110225,3164,1,1,1111013600100880000014315,,N,37.570542,126.986282
11,13,0,89,0,1734,0,0,3,14689,11110,...,장가희,20110225,3164,1,2,1111013600100890000014053,,N,37.570557,126.986149
12,14,0,117,0,1662,0,952,3,13865,11110,...,hwa0512,20120619162224,3164,1,1,1111013600101170000014765,,N,37.570762,126.986481
13,15,0,117,0,1662,0,952,1,13867,11110,...,hwa0512,20120619162224,3164,1,1,1111013600101180000017650,,N,37.570803,126.986290
14,48,0,200,0,1691,0,990,3,14194,11110,...,장가희,20110225,3183,1,2,1111011900102000000027543,,N,37.570686,126.976280
15,49,0,81,3,1691,3,987,6,14180,11110,...,jgh0518,20111006,3172,1,2,1111011900100810003027269,,N,37.571859,126.976180
16,43,0,102,0,1734,0,1317,1,17427,11110,...,LD611016,20120830135928,3164,1,1,1111013600101020000014847,,N,37.570658,126.986472
17,50,0,82,1,1691,0,988,8,14183,11110,...,jgh0518,20130903112215,3141,1,2,1111011900100820001015150,,Y,37.573716,126.978355
18,51,0,92,0,1734,0,0,1,14691,11110,...,장가희,20110225,3164,1,1,1111013600100920000014237,,N,37.570585,126.985954
19,52,0,7,20,1933,0,0,3,17419,11110,...,장가희,20110225,3190,1,2,1111013500100070014017436,,N,37.568910,126.987404
20,53,0,28,1,483,1,0,5,2784,11110,...,장가희,20110225,3191,1,2,1111013500100280001017547,,N,37.569236,126.988171
21,54,0,20,0,1269,0,763,0,10842,11110,...,장가희,20110225,3191,1,1,1111013500100200000013815,,N,37.569360,126.988101
22,55,0,290,1,2086,0,0,0,18237,11110,...,장가희,20110225,3140,1,1,1111013700102900001016759,,N,37.572054,126.987998
23,56,0,290,1,2086,0,0,0,18238,11110,...,장가희,20110225,3140,1,2,1111013700102900001016774,,N,37.572030,126.988066
24,57,0,289,2,1933,0,0,1,17452,11110,...,장가희,20110225,3140,1,1,1111013700102890002014824,,N,37.572222,126.988017
25,58,0,285,0,1933,0,0,1,17451,11110,...,장가희,20110225,3163,1,1,1111013700102850000013659,,N,37.572353,126.987414
26,59,0,280,4,1933,0,0,5,17449,11110,...,장가희,20110225,3148,1,2,1111013700102800004014680,,N,37.573529,126.987321
27,60,0,47,4,1933,0,1326,1,17396,11110,...,장가희,20110225,3148,1,2,1111013400100470004014435,,N,37.573730,126.987155
28,62,0,11,0,1793,0,220,1,2796,11110,...,jgh0518,20120823161144,3132,1,2,1111013700100110000017111,,N,37.573935,126.987924
29,63,0,11,0,1793,0,220,1,2797,11110,...,jgh0518,20120823161144,3132,1,2,1111013700100110000017131,,N,37.573954,126.987961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659157,212964,0,387,0,236,0,189,1,2589,11290,...,김세훈,20110223,2873,1,1,1129012800103870000038728,,N,37.579108,127.020725
659158,212968,0,861,1,3715,0,1906,0,30693,11290,...,김해림,20110401,2707,1,3,1129013300108530006029913,,N,37.610342,126.998856
659159,212996,0,233,377,4905,1,0,2,41185,11290,...,김세훈,20110223,2744,1,1,1129013800102330377014569,,N,37.612111,127.043982
659160,213008,0,81,44,3613,0,0,3,29973,11290,...,김세훈,20110223,2737,1,2,1129013600100810044019447,,N,37.607757,127.034881
659161,215953,0,2,27,1452,0,895,0,13676,11290,...,lss8689,20120531141624,2805,1,2,1129013500200020027022568,,N,37.597379,127.029441
659162,215968,0,167,15,3232,1,0,1,27945,11290,...,김세훈,20110223,2760,1,1,1129013800101670015006038,,N,37.621008,127.050736
659163,215990,0,54,387,2629,0,0,5,46260,11290,...,WOOKS-71,20150129095556,2809,1,1,1129013500100540387022774,1,,37.594684,127.032846
659164,215998,0,54,340,5012,0,0,3,42190,11290,...,김세훈,20110223,2809,1,1,1129013500100540340022658,,N,37.595286,127.033027
659165,216012,0,66,275,74,0,47,0,687,11290,...,김세훈,20110223,2771,1,1,1129013800100660275010940,,N,37.610116,127.052525
659166,216039,0,206,48,858,1,0,3,8814,11290,...,김세훈,20110223,2716,1,1,1129013300102060048032332,,N,37.608069,127.012935
659167,216054,0,16,0,264,0,0,1,2968,11290,...,김세훈,20110223,2830,1,1,1129011000100160000043178,,N,37.596118,127.014794
659168,216072,0,270,184,691,1,0,3,7191,11290,...,김세훈,20110223,2762,1,1,1129013800102700184012448,,N,37.617607,127.048761
659169,216088,0,266,76,3630,0,0,0,36374,11290,...,b612sunny,20121012161220,2717,1,1,1129013300102660076027715,1,N,37.612052,127.010607
659170,216105,0,103,23,655,0,0,4,6797,11290,...,김세훈,20110223,2832,1,2,1129010700101030023000001,,N,37.590941,127.010069
659171,216118,0,410,17,4462,0,2233,1,36501,11290,...,김세훈,20110223,2716,1,1,1129013300104100014034562,,N,37.608192,127.012245
659172,216130,0,149,0,4578,0,0,1,37541,11290,...,박혜선,20110516,2860,1,1,1129010500101490000000001,,N,37.588402,127.008750
659173,216147,0,541,17,4519,0,0,1,36948,11290,...,김세훈,20110223,2722,1,1,1129013400105410017026241,,N,37.603976,127.023922
659174,219106,0,111,0,669,1,0,4,6943,11290,...,김세훈,20110223,2845,1,1,1129011600101110000044748,,N,37.593075,127.018041
659175,219124,0,185,48,4251,1,0,1,34323,11290,...,김세훈,20110223,2784,1,1,1129013900101850048003763,,N,37.610291,127.062210
659176,219136,0,88,565,173,0,125,0,1840,11290,...,김세훈,20110223,2734,1,1,1129013600100880565019082,,N,37.604781,127.026435
659177,219152,0,238,240,4145,1,0,2,33415,11290,...,김세훈,20110223,2769,1,3,1129013800102380240009480,,N,37.613268,127.049317
659178,219175,0,443,60,2295,1,0,1,9630,11305,...,박석준,20091029,1069,1,3,1130510200104430060016132,,N,37.635541,127.027202
659179,219202,0,279,1,318,1,0,2,3609,11290,...,김세훈,20110223,2784,1,1,1129013900102790001003914,,N,37.609952,127.061330
659180,219206,0,175,12,4778,1,0,1,39854,11290,...,김세훈,20110223,2781,1,1,1129013900101750012003115,,N,37.612683,127.062420
659181,219225,0,25,103,4942,0,0,0,41462,11290,...,김세훈,20110223,2778,1,1,1129013800100250103007357,,N,37.616408,127.057992
659182,219246,0,461,88,2280,1,0,2,9561,11305,...,박석준,20091029,1058,1,3,1130510200104610088016555,,N,37.638836,127.029213
659183,219254,0,90,1456,3357,0,0,1,28642,11290,...,김세훈,20110223,2736,1,1,1129013600100901456017816,,N,37.606901,127.033048
659184,219270,0,67,41,4249,1,0,2,34296,11290,...,김세훈,20110223,2785,1,1,1129013900100670041004379,,N,37.608602,127.064438
659185,219280,0,64,42,348,1,0,2,3890,11290,...,김세훈,20110223,2771,1,1,1129013800100640042010417,,N,37.611471,127.055326
659186,219297,0,839,155,2791,1,0,2,11826,11305,...,박석준,20091029,1187,1,3,1130510100108390155034749,,N,37.620717,127.016096

In [14]:
len(Building_location)

659187

In [13]:
Building_location[["고유번호"]].drop_duplicates()

          고유번호
0            1
1            3
2            4
3            5
4            6
5            7
6            8
7            9
8           10
9           11
10          12
11          13
12          14
13          15
14          48
15          49
16          43
17          50
18          51
19          52
20          53
21          54
22          55
23          56
24          57
25          58
26          59
27          60
28          62
29          63
...        ...
659157  212964
659158  212968
659159  212996
659160  213008
659161  215953
659162  215968
659163  215990
659164  215998
659165  216012
659166  216039
659167  216054
659168  216072
659169  216088
659170  216105
659171  216118
659172  216130
659173  216147
659174  219106
659175  219124
659176  219136
659177  219152
659178  219175
659179  219202
659180  219206
659181  219225
659182  219246
659183  219254
659184  219270
659185  219280
659186  219297

[659187 rows x 1 columns]

In [10]:
Building_location.columns

Index(['고유번호', '이미지 파일 일련번호', '지번본번', '지번부번', '도로구간 일련번호', '지하층수', '건물군 일련번호',
       '지상층수', '건물 일련번호', '시군구코드', '도로명 코드', '기초구간 일련번호', '건물구분코드', '건물본번',
       '건물부번', '건물명', '건물 영문명', '상세 건물명', '건물 상태코드', '건물 용도코드', '건물 종속구분',
       '우편번호', '다량배달처건물명', '등록 공공문서명', '읍면동 코드', '리코드', '산여부', '완료일자', '고시일자',
       '이동사유코드', '이동사유', '이동일자', '작업자 아이디', '작업일시', '기초구역번호', '고지대상여부', '입력방법',
       '이전건물관리번호', '발급여부', '다량배달처여부', '위도', '경도'],
      dtype='object')

In [8]:
Building_location[["시군구코드","위도","경도","지상층수"]].head()

   시군구코드         위도          경도  지상층수
0  11110  37.573215  126.988200     3
1  11110  37.573266  126.988185     2
2  11110  37.573352  126.988156     2
3  11110  37.573474  126.988168     1
4  11110  37.573542  126.988189     1

In [15]:
new_building_location = Building_location[["시군구코드","위도","경도","지상층수"]]

In [20]:
new_building_location["index"] = new_building_location.index + 1

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
new_building_location = new_building_location[["index", "시군구코드","위도","경도","지상층수"]]

In [24]:
new_building_location[new_building_location["지상층수"] == 0]

         index  시군구코드         위도          경도  지상층수
21          22  11110  37.569360  126.988101     0
22          23  11110  37.572054  126.987998     0
23          24  11110  37.572030  126.988066     0
39          40  11110  37.572395  126.988047     0
60          61  11110  37.570636  126.987243     0
61          62  11110  37.570580  126.987056     0
63          64  11110  37.570591  126.986749     0
72          73  11110  37.572600  126.975650     0
79          80  11110  37.571629  126.976782     0
80          81  11110  37.572183  126.976836     0
82          83  11110  37.576266  126.986646     0
83          84  11110  37.575700  126.987008     0
84          85  11110  37.576402  126.986870     0
85          86  11110  37.576416  126.986688     0
86          87  11110  37.576319  126.987361     0
113        114  11110  37.574196  126.987558     0
125        126  11110  37.575335  126.985577     0
127        128  11110  37.575192  126.985637     0
129        130  11110  37.576345  126.987680     0
130        131  11110  37.576354  126.987780     0
131        132  11110  37.575472  126.987167     0
132        133  11110  37.576359  126.987951     0
133        134  11110  37.575466  126.988145     0
134        135  11110  37.576452  126.988031     0
136        137  11110  37.575375  126.987833     0
137        138  11110  37.576043  126.987820     0
138        139  11110  37.576351  126.988596     0
139        140  11110  37.576131  126.988312     0
142        143  11110  37.576093  126.986764     0
143        144  11110  37.575944  126.987174     0
...        ...    ...        ...         ...   ...
658992  658993  11290  37.613516  127.064611     0
658998  658999  11290  37.612234  127.050991     0
659000  659001  11290  37.607489  126.998752     0
659024  659025  11290  37.608804  127.030999     0
659029  659030  11290  37.612828  127.051956     0
659032  659033  11290  37.588089  127.030391     0
659034  659035  11290  37.592766  127.033896     0
659037  659038  11290  37.609143  127.013321     0
659039  659040  11290  37.587701  127.023559     0
659044  659045  11290  37.605928  127.012991     0
659072  659073  11290  37.587242  127.005877     0
659081  659082  11290  37.599408  127.005994     0
659083  659084  11290  37.590647  127.016723     0
659085  659086  11290  37.611438  127.009135     0
659090  659091  11290  37.605067  127.027485     0
659100  659101  11290  37.606059  127.033461     0
659104  659105  11290  37.591633  127.032978     0
659115  659116  11290  37.584472  127.016091     0
659117  659118  11290  37.607580  127.039949     0
659133  659134  11290  37.585290  127.010897     0
659137  659138  11290  37.611348  127.063574     0
659140  659141  11290  37.603591  127.018933     0
659142  659143  11290  37.598950  127.031394     0
659143  659144  11290  37.609633  127.012259     0
659158  659159  11290  37.610342  126.998856     0
659161  659162  11290  37.597379  127.029441     0
659165  659166  11290  37.610116  127.052525     0
659169  659170  11290  37.612052  127.010607     0
659176  659177  11290  37.604781  127.026435     0
659181  659182  11290  37.616408  127.057992     0

[64932 rows x 5 columns]

In [25]:
new_building_location.to_csv("./raw_data/%s.csv" % ("location"), index=False, encoding='ms949')

## 서울시 네모 구역
- 색깔 칠하기

위도 범위 : (37.413294, 37.715133)

경도 범위 : (126.734086, 127.269311)

In [26]:
37.715133-37.413294, 127.269311-126.734086

(0.3018390000000011, 0.535224999999997)

In [28]:
pd.DataFrame(columns=["first_lat", "firtst_log", "last_lat", "last_log"])

Empty DataFrame
Columns: [first_lat, firtst_log, last_lat, last_log]
Index: []

In [24]:
DF = pd.DataFrame(columns=["first_log", "first_lat", "last_log", "first_lat", "last_log", "last_lat", "first_log", "last_lat", "first_log", "first_log"])

In [25]:
DF

Empty DataFrame
Columns: [first_log, first_lat, last_log, first_lat, last_log, last_lat, first_log, last_lat, first_log, first_log]
Index: []

In [26]:
first_log = 126.734086
first_lat = 37.413294
last_log = first_log + 0.002251
last_lat = first_lat + 0.001820

In [27]:
DF.loc[0] = [first_log, first_lat, last_log, first_lat, last_log, last_lat, first_log, last_lat, first_log, first_log]

In [28]:
DF

,first_log,first_lat,last_log,first_lat,last_log,last_lat,first_log,last_lat,first_log,first_log
0,126.734086,37.413294,126.736337,37.413294,126.736337,37.415114,126.734086,37.415114,126.734086,126.734086

In [122]:
def Division_zone(n,m):
    first_lat = 37.4249
    first_log = 126.76
    lat_side_length = (37.704 - 37.4249) / n
    log_side_length = (127.1855 - 126.76) / m
    DF = pd.DataFrame(columns=["first_log", "first_lat", "last_log", "first_lat", "last_log", "last_lat", "first_log", "last_lat", "first_log", "first_log"])
    
    for i in range(n):
        last_lat = first_lat + lat_side_length
        index = i * m
        for j in range(m):
            last_log = first_log + log_side_length
            DF.loc[index+j] = [first_log, first_lat, last_log, first_lat, last_log, last_lat, first_log, last_lat, first_log, first_log]
            first_log = last_log
        first_lat = last_lat
        first_log = 126.76
        
    return round(DF,7)

In [122]:
def Division_zone(n,m):
    first_lat = 37.4249
    first_log = 126.76
    lat_side_length = (37.704 - 37.4249) / n
    log_side_length = (127.1855 - 126.76) / m
    DF = pd.DataFrame(columns=["first_log", "first_lat", "last_log", "first_lat", "last_log", "last_lat", "first_log", "last_lat", "first_log", "first_log"])
    
    for i in range(n):
        last_lat = first_lat + lat_side_length
        index = i * m
        for j in range(m):
            last_log = first_log + log_side_length
            DF.loc[index+j] = [first_log, first_lat, last_log, first_lat, last_log, last_lat, first_log, last_lat, first_log, first_log]
            first_log = last_log
        first_lat = last_lat
        first_log = 126.76
        
    return round(DF,7)

In [110]:
%%time
Division_zone(200,200)

Wall time: 1min 50s

,first_log,first_lat,last_log,first_lat,last_log,last_lat,first_log,last_lat,first_log,first_log
0,126.760000,37.424900,126.762128,37.424900,126.762128,37.426296,126.760000,37.426296,126.760000,126.760000
1,126.762128,37.424900,126.764255,37.424900,126.764255,37.426296,126.762128,37.426296,126.762128,126.762128
2,126.764255,37.424900,126.766383,37.424900,126.766383,37.426296,126.764255,37.426296,126.764255,126.764255
3,126.766383,37.424900,126.768510,37.424900,126.768510,37.426296,126.766383,37.426296,126.766383,126.766383
4,126.768510,37.424900,126.770638,37.424900,126.770638,37.426296,126.768510,37.426296,126.768510,126.768510
5,126.770638,37.424900,126.772765,37.424900,126.772765,37.426296,126.770638,37.426296,126.770638,126.770638
6,126.772765,37.424900,126.774893,37.424900,126.774893,37.426296,126.772765,37.426296,126.772765,126.772765
7,126.774893,37.424900,126.777020,37.424900,126.777020,37.426296,126.774893,37.426296,126.774893,126.774893
8,126.777020,37.424900,126.779148,37.424900,126.779148,37.426296,126.777020,37.426296,126.777020,126.777020
9,126.779148,37.424900,126.781275,37.424900,126.781275,37.426296,126.779148,37.426296,126.779148,126.779148
10,126.781275,37.424900,126.783403,37.424900,126.783403,37.426296,126.781275,37.426296,126.781275,126.781275
11,126.783403,37.424900,126.785530,37.424900,126.785530,37.426296,126.783403,37.426296,126.783403,126.783403
12,126.785530,37.424900,126.787658,37.424900,126.787658,37.426296,126.785530,37.426296,126.785530,126.785530
13,126.787658,37.424900,126.789785,37.424900,126.789785,37.426296,126.787658,37.426296,126.787658,126.787658
14,126.789785,37.424900,126.791913,37.424900,126.791913,37.426296,126.789785,37.426296,126.789785,126.789785
15,126.791913,37.424900,126.794040,37.424900,126.794040,37.426296,126.791913,37.426296,126.791913,126.791913
16,126.794040,37.424900,126.796168,37.424900,126.796168,37.426296,126.794040,37.426296,126.794040,126.794040
17,126.796168,37.424900,126.798295,37.424900,126.798295,37.426296,126.796168,37.426296,126.796168,126.796168
18,126.798295,37.424900,126.800423,37.424900,126.800423,37.426296,126.798295,37.426296,126.798295,126.798295
19,126.800423,37.424900,126.802550,37.424900,126.802550,37.426296,126.800423,37.426296,126.800423,126.800423
20,126.802550,37.424900,126.804678,37.424900,126.804678,37.426296,126.802550,37.426296,126.802550,126.802550
21,126.804678,37.424900,126.806805,37.424900,126.806805,37.426296,126.804678,37.426296,126.804678,126.804678
22,126.806805,37.424900,126.808933,37.424900,126.808933,37.426296,126.806805,37.426296,126.806805,126.806805
23,126.808933,37.424900,126.811060,37.424900,126.811060,37.426296,126.808933,37.426296,126.808933,126.808933
24,126.811060,37.424900,126.813188,37.424900,126.813188,37.426296,126.811060,37.426296,126.811060,126.811060
25,126.813188,37.424900,126.815315,37.424900,126.815315,37.426296,126.813188,37.426296,126.813188,126.813188
26,126.815315,37.424900,126.817443,37.424900,126.817443,37.426296,126.815315,37.426296,126.815315,126.815315
27,126.817443,37.424900,126.819570,37.424900,126.819570,37.426296,126.817443,37.426296,126.817443,126.817443
28,126.819570,37.424900,126.821698,37.424900,126.821698,37.426296,126.819570,37.426296,126.819570,126.819570
29,126.821698,37.424900,126.823825,37.424900,126.823825,37.426296,126.821698,37.426296,126.821698,126.821698
...,...,...,...,...,...,...,...,...,...,...
39970,127.121675,37.702605,127.123803,37.702605,127.123803,37.704000,127.121675,37.704000,127.121675,127.121675
39971,127.123803,37.702605,127.125930,37.702605,127.125930,37.704000,127.123803,37.704000,127.123803,127.123803
39972,127.125930,37.702605,127.128058,37.702605,127.128058,37.704000,127.125930,37.704000,127.125930,127.125930
39973,127.128058,37.702605,127.130185,37.702605,127.130185,37.704000,127.128058,37.704000,127.128058,127.128058
39974,127.130185,37.702605,127.132313,37.702605,127.132313,37.704000,127.130185,37.704000,127.130185,127.130185
39975,127.132313,37.702605,127.134440,37.702605,127.134440,37.704000,127.132313,37.704000,127.132313,127.132313
39976,127.134440,37.702605,127.136568,37.702605,127.136568,37.704000,127.134440,37.704000,127.134440,127.134440
39977,127.136568,37.702605,127.138695,37.702605,127.138695,37.704000,127.136568,37.704000,127.136568,127.136568
39978,127.138695,37.702605,127.140823,37.702605,127.140823,37.704000,127.138695,37.704000,127.138695,127.138695
39979,127.140823,37.702605,127.142950,37.702605,127.142950,37.704000,127.140823,37.704000,127.140823,127.140823
39980,127.142950,37.702605,127.145078,37.702605,127.145078,37.704000,127.142950,37.704000,127.142950,127.142950
39981,127.145078,37.702605,127.147205,37.702605,127.147205,37.704000,127.145078,37.704000,127.145078,127.145078
39982,127.147205,37.702605,127.149333,37.702605,127.149333,37.704000,127.147205,37.704000,127.147205,127.147205
39983,127.149333,37.702605,127.151460,37.702605,127.151460,37.704000,127.149333,37.704000,127.149333,127.149333
39984,127.151460,37.702605,127.153588,37.702605,127.153588,37.704000,127.151460,37.704000,127.151460,127.151460
39985,127.153588,37.702605,127.155715,37.702605,127.155715,37.704000,127.153588,37.704000,127.153588,127.153588
39986,127.155715,37.702605,127.157843,37.702605,127.157843,37.704000,127.155715,37.704000,127.155715,127.155715
39987,127.157843,37.702605,127.159970,37.702605,127.159970,37.704000,127.157843,37.704000,127.157843,127.157843
39988,127.159970,37.702605,127.162098,37.702605,127.162098,37.704000,127.159970,37.704000,127.159970,127.159970
39989,127.162098,37.702605,127.164225,37.702605,127.164225,37.704000,127.162098,37.704000,127.162098,127.162098
39990,127.164225,37.702605,127.166353,37.702605,127.166353,37.704000,127.164225,37.704000,127.164225,127.164225
39991,127.166353,37.702605,127.168480,37.702605,127.168480,37.704000,127.166353,37.704000,127.166353,127.166353
39992,127.168480,37.702605,127.170608,37.702605,127.170608,37.704000,127.168480,37.704000,127.168480,127.168480
39993,127.170608,37.702605,127.172735,37.702605,127.172735,37.704000,127.170608,37.704000,127.170608,127.170608
39994,127.172735,37.702605,127.174863,37.702605,127.174863,37.704000,127.172735,37.704000,127.172735,127.172735
39995,127.174863,37.702605,127.176990,37.702605,127.176990,37.704000,127.174863,37.704000,127.174863,127.174863
39996,127.176990,37.702605,127.179118,37.702605,127.179118,37.704000,127.176990,37.704000,127.176990,127.176990
39997,127.179118,37.702605,127.181245,37.702605,127.181245,37.704000,127.179118,37.704000,127.179118,127.179118
39998,127.181245,37.702605,127.183373,37.702605,127.183373,37.704000,127.181245,37.704000,127.181245,127.181245
39999,127.183373,37.702605,127.185500,37.702605,127.185500,37.704000,127.183373,37.704000,127.183373,127.183373

In [151]:
a = Division_zone(200,200)

In [152]:
len(a)

40000

In [106]:
a = round(a,7)

In [153]:
with open("sector.txt", "w") as f:
    for i in a.iterrows():
        f.write("[")
        for j in range(5):
            f.write("[")
            f.write(str(i[1][2*j]))
            f.write(",")
            f.write(str(i[1][2*j+1]))
            f.write("]")
            if j == 4:
                f.write("]")
                continue
            f.write(",")
        if i[0]+1 == len(a):
            break
        f.write(",\n")

In [35]:
for i in Division_zone(4,3).iterrows():
    print(i[0])
    print(i[1])
    print(type(i[1]))
    print(len(i[1]))
    print()

0
first_log    126.734086
first_lat     37.413294
last_log     126.912494
first_lat     37.413294
last_log     126.912494
last_lat      37.488754
first_log    126.734086
last_lat      37.488754
first_log    126.734086
first_log    126.734086
Name: 0, dtype: float64
<class 'pandas.core.series.Series'>
10

1
first_log    126.912494
first_lat     37.413294
last_log     127.090903
first_lat     37.413294
last_log     127.090903
last_lat      37.488754
first_log    126.912494
last_lat      37.488754
first_log    126.912494
first_log    126.912494
Name: 1, dtype: float64
<class 'pandas.core.series.Series'>
10

2
first_log    127.090903
first_lat     37.413294
last_log     127.269311
first_lat     37.413294
last_log     127.269311
last_lat      37.488754
first_log    127.090903
last_lat      37.488754
first_log    127.090903
first_log    127.090903
Name: 2, dtype: float64
<class 'pandas.core.series.Series'>
10

3
first_log    126.734086
first_lat     37.488754
last_log     126.912494
first_lat     37.488754
last_log     126.912494
last_lat      37.564214
first_log    126.734086
last_lat      37.564214
first_log    126.734086
first_log    126.734086
Name: 3, dtype: float64
<class 'pandas.core.series.Series'>
10

4
first_log    126.912494
first_lat     37.488754
last_log     127.090903
first_lat     37.488754
last_log     127.090903
last_lat      37.564214
first_log    126.912494
last_lat      37.564214
first_log    126.912494
first_log    126.912494
Name: 4, dtype: float64
<class 'pandas.core.series.Series'>
10

5
first_log    127.090903
first_lat     37.488754
last_log     127.269311
first_lat     37.488754
last_log     127.269311
last_lat      37.564214
first_log    127.090903
last_lat      37.564214
first_log    127.090903
first_log    127.090903
Name: 5, dtype: float64
<class 'pandas.core.series.Series'>
10

6
first_log    126.734086
first_lat     37.564214
last_log     126.912494
first_lat     37.564214
last_log     126.912494
last_lat      37.639673
first_log    126.734086
last_lat      37.639673
first_log    126.734086
first_log    126.734086
Name: 6, dtype: float64
<class 'pandas.core.series.Series'>
10

7
first_log    126.912494
first_lat     37.564214
last_log     127.090903
first_lat     37.564214
last_log     127.090903
last_lat      37.639673
first_log    126.912494
last_lat      37.639673
first_log    126.912494
first_log    126.912494
Name: 7, dtype: float64
<class 'pandas.core.series.Series'>
10

8
first_log    127.090903
first_lat     37.564214
last_log     127.269311
first_lat     37.564214
last_log     127.269311
last_lat      37.639673
first_log    127.090903
last_lat      37.639673
first_log    127.090903
first_log    127.090903
Name: 8, dtype: float64
<class 'pandas.core.series.Series'>
10

9
first_log    126.734086
first_lat     37.639673
last_log     126.912494
first_lat     37.639673
last_log     126.912494
last_lat      37.715133
first_log    126.734086
last_lat      37.715133
first_log    126.734086
first_log    126.734086
Name: 9, dtype: float64
<class 'pandas.core.series.Series'>
10

10
first_log    126.912494
first_lat     37.639673
last_log     127.090903
first_lat     37.639673
last_log     127.090903
last_lat      37.715133
first_log    126.912494
last_lat      37.715133
first_log    126.912494
first_log    126.912494
Name: 10, dtype: float64
<class 'pandas.core.series.Series'>
10

11
first_log    127.090903
first_lat     37.639673
last_log     127.269311
first_lat     37.639673
last_log     127.269311
last_lat      37.715133
first_log    127.090903
last_lat      37.715133
first_log    127.090903
first_log    127.090903
Name: 11, dtype: float64
<class 'pandas.core.series.Series'>
10

In [75]:
def MakeList(DF):
    Input_List = list()
    for i in DF.iterrows():
        a = list()
        for j in range(5):
            b = list([i[1][j*2], i[1][j*2+1]])
#             print(b)
            a.append(b)
#         print(a)
        Input_List.append(a)
    return Input_List

In [76]:
a = MakeList(Division_zone(4,3))

In [82]:
a[0]

[[126.734086, 37.413294],
 [126.91249433333334, 37.413294],
 [126.91249433333334, 37.48875375],
 [126.734086, 37.48875375],
 [126.734086, 126.734086]]

In [84]:
with open("location.txt", "w") as f:
    for i in range(len(a)):
        f.write(a[i])

TypeError: write() argument must be str, not list

In [124]:
a = Division_zone(2,3)

In [125]:
a.head(1)

,first_log,first_lat,last_log,first_lat,last_log,last_lat,first_log,last_lat,first_log,first_log
0,126.76,37.4249,126.901833,37.4249,126.901833,37.56445,126.76,37.56445,126.76,126.76

In [126]:
a.iloc[0,0], a.iloc[0,1], a.iloc[0,4], a.iloc[0,5]

(126.76, 37.4249, 126.9018333, 37.56445)

해당 지역의 나무 뽑기

In [138]:
def location(DF):
    locations = pd.DataFrame(columns=["first_lat", "first_log", "last_lat", "last_log"])
    for i in DF.iterrows():
        locations.loc[i[0]] = [a.iloc[i[0],1], a.iloc[i[0],0], a.iloc[i[0],5], a.iloc[i[0],4]]
    return locations

In [139]:
Division_zone(2,3)

,first_log,first_lat,last_log,first_lat,last_log,last_lat,first_log,last_lat,first_log,first_log
0,126.760000,37.42490,126.901833,37.42490,126.901833,37.56445,126.760000,37.56445,126.760000,126.760000
1,126.901833,37.42490,127.043667,37.42490,127.043667,37.56445,126.901833,37.56445,126.901833,126.901833
2,127.043667,37.42490,127.185500,37.42490,127.185500,37.56445,127.043667,37.56445,127.043667,127.043667
3,126.760000,37.56445,126.901833,37.56445,126.901833,37.70400,126.760000,37.70400,126.760000,126.760000
4,126.901833,37.56445,127.043667,37.56445,127.043667,37.70400,126.901833,37.70400,126.901833,126.901833
5,127.043667,37.56445,127.185500,37.56445,127.185500,37.70400,127.043667,37.70400,127.043667,127.043667

In [140]:
location(Division_zone(2,3))

   first_lat   first_log  last_lat    last_log
0   37.42490  126.760000  37.56445  126.901833
1   37.42490  126.901833  37.56445  127.043667
2   37.42490  127.043667  37.56445  127.185500
3   37.56445  126.760000  37.70400  126.901833
4   37.56445  126.901833  37.70400  127.043667
5   37.56445  127.043667  37.70400  127.185500

In [133]:
tree = pd.read_csv("./raw_data/total_tree.csv", encoding="cp949", engine="python")

In [134]:
tree.head()

    구명         위도          경도     수목명  품계수종    수고  품계활력  흉고지름  수관너비  Condition
0  강남구  37.522895  127.020205    회화나무   8.0   8.0     8  15.0     5       Fair
1  강남구  37.489393  127.057976    느티나무   6.0   7.0    15  29.0     8  Excellent
2  강남구  37.492149  127.064744    버즘나무   6.0  12.0    15  30.0     8  Excellent
3  강남구  37.524812  127.020405     벚나무   6.0   6.0    15  21.0     7  Excellent
4  강남구  37.478395  127.056869  메타세쿼이아   2.0  17.0    15  38.0     8  Excellent

In [ ]:
tree["수목명"].drop_duplicates()

In [142]:
def Tree_separate(first_lat, first_log, last_lat, last_log, treeset):
    DF = pd.DataFrame(columns=treeset.columns)
    a = 0
    for i in treeset.iterrows():
        if (first_lat < i[1][1] < last_lat) & (first_log < i[1][2] < last_log):
            DF.loc[a] = i[1]
            a += 1
    return DF

In [150]:
Division_zone(200, 200)

,first_log,first_lat,last_log,first_lat,last_log,last_lat,first_log,last_lat,first_log,first_log
0,126.760000,37.424900,126.762128,37.424900,126.762128,37.426296,126.760000,37.426296,126.760000,126.760000
1,126.762128,37.424900,126.764255,37.424900,126.764255,37.426296,126.762128,37.426296,126.762128,126.762128
2,126.764255,37.424900,126.766383,37.424900,126.766383,37.426296,126.764255,37.426296,126.764255,126.764255
3,126.766383,37.424900,126.768510,37.424900,126.768510,37.426296,126.766383,37.426296,126.766383,126.766383
4,126.768510,37.424900,126.770638,37.424900,126.770638,37.426296,126.768510,37.426296,126.768510,126.768510
5,126.770638,37.424900,126.772765,37.424900,126.772765,37.426296,126.770638,37.426296,126.770638,126.770638
6,126.772765,37.424900,126.774893,37.424900,126.774893,37.426296,126.772765,37.426296,126.772765,126.772765
7,126.774893,37.424900,126.777020,37.424900,126.777020,37.426296,126.774893,37.426296,126.774893,126.774893
8,126.777020,37.424900,126.779147,37.424900,126.779147,37.426296,126.777020,37.426296,126.777020,126.777020
9,126.779147,37.424900,126.781275,37.424900,126.781275,37.426296,126.779147,37.426296,126.779147,126.779147
10,126.781275,37.424900,126.783402,37.424900,126.783402,37.426296,126.781275,37.426296,126.781275,126.781275
11,126.783402,37.424900,126.785530,37.424900,126.785530,37.426296,126.783402,37.426296,126.783402,126.783402
12,126.785530,37.424900,126.787657,37.424900,126.787657,37.426296,126.785530,37.426296,126.785530,126.785530
13,126.787657,37.424900,126.789785,37.424900,126.789785,37.426296,126.787657,37.426296,126.787657,126.787657
14,126.789785,37.424900,126.791912,37.424900,126.791912,37.426296,126.789785,37.426296,126.789785,126.789785
15,126.791912,37.424900,126.794040,37.424900,126.794040,37.426296,126.791912,37.426296,126.791912,126.791912
16,126.794040,37.424900,126.796167,37.424900,126.796167,37.426296,126.794040,37.426296,126.794040,126.794040
17,126.796167,37.424900,126.798295,37.424900,126.798295,37.426296,126.796167,37.426296,126.796167,126.796167
18,126.798295,37.424900,126.800422,37.424900,126.800422,37.426296,126.798295,37.426296,126.798295,126.798295
19,126.800422,37.424900,126.802550,37.424900,126.802550,37.426296,126.800422,37.426296,126.800422,126.800422
20,126.802550,37.424900,126.804677,37.424900,126.804677,37.426296,126.802550,37.426296,126.802550,126.802550
21,126.804677,37.424900,126.806805,37.424900,126.806805,37.426296,126.804677,37.426296,126.804677,126.804677
22,126.806805,37.424900,126.808932,37.424900,126.808932,37.426296,126.806805,37.426296,126.806805,126.806805
23,126.808932,37.424900,126.811060,37.424900,126.811060,37.426296,126.808932,37.426296,126.808932,126.808932
24,126.811060,37.424900,126.813187,37.424900,126.813187,37.426296,126.811060,37.426296,126.811060,126.811060
25,126.813187,37.424900,126.815315,37.424900,126.815315,37.426296,126.813187,37.426296,126.813187,126.813187
26,126.815315,37.424900,126.817442,37.424900,126.817442,37.426296,126.815315,37.426296,126.815315,126.815315
27,126.817442,37.424900,126.819570,37.424900,126.819570,37.426296,126.817442,37.426296,126.817442,126.817442
28,126.819570,37.424900,126.821697,37.424900,126.821697,37.426296,126.819570,37.426296,126.819570,126.819570
29,126.821697,37.424900,126.823825,37.424900,126.823825,37.426296,126.821697,37.426296,126.821697,126.821697
...,...,...,...,...,...,...,...,...,...,...
39970,127.121675,37.702604,127.123802,37.702604,127.123802,37.704000,127.121675,37.704000,127.121675,127.121675
39971,127.123802,37.702604,127.125930,37.702604,127.125930,37.704000,127.123802,37.704000,127.123802,127.123802
39972,127.125930,37.702604,127.128057,37.702604,127.128057,37.704000,127.125930,37.704000,127.125930,127.125930
39973,127.128057,37.702604,127.130185,37.702604,127.130185,37.704000,127.128057,37.704000,127.128057,127.128057
39974,127.130185,37.702604,127.132312,37.702604,127.132312,37.704000,127.130185,37.704000,127.130185,127.130185
39975,127.132312,37.702604,127.134440,37.702604,127.134440,37.704000,127.132312,37.704000,127.132312,127.132312
39976,127.134440,37.702604,127.136567,37.702604,127.136567,37.704000,127.134440,37.704000,127.134440,127.134440
39977,127.136567,37.702604,127.138695,37.702604,127.138695,37.704000,127.136567,37.704000,127.136567,127.136567
39978,127.138695,37.702604,127.140822,37.702604,127.140822,37.704000,127.138695,37.704000,127.138695,127.138695
39979,127.140822,37.702604,127.142950,37.702604,127.142950,37.704000,127.140822,37.704000,127.140822,127.140822
39980,127.142950,37.702604,127.145077,37.702604,127.145077,37.704000,127.142950,37.704000,127.142950,127.142950
39981,127.145077,37.702604,127.147205,37.702604,127.147205,37.704000,127.145077,37.704000,127.145077,127.145077
39982,127.147205,37.702604,127.149332,37.702604,127.149332,37.704000,127.147205,37.704000,127.147205,127.147205
39983,127.149332,37.702604,127.151460,37.702604,127.151460,37.704000,127.149332,37.704000,127.149332,127.149332
39984,127.151460,37.702604,127.153588,37.702604,127.153588,37.704000,127.151460,37.704000,127.151460,127.151460
39985,127.153588,37.702604,127.155715,37.702604,127.155715,37.704000,127.153588,37.704000,127.153588,127.153588
39986,127.155715,37.702604,127.157843,37.702604,127.157843,37.704000,127.155715,37.704000,127.155715,127.155715
39987,127.157843,37.702604,127.159970,37.702604,127.159970,37.704000,127.157843,37.704000,127.157843,127.157843
39988,127.159970,37.702604,127.162098,37.702604,127.162098,37.704000,127.159970,37.704000,127.159970,127.159970
39989,127.162098,37.702604,127.164225,37.702604,127.164225,37.704000,127.162098,37.704000,127.162098,127.162098
39990,127.164225,37.702604,127.166353,37.702604,127.166353,37.704000,127.164225,37.704000,127.164225,127.164225
39991,127.166353,37.702604,127.168480,37.702604,127.168480,37.704000,127.166353,37.704000,127.166353,127.166353
39992,127.168480,37.702604,127.170608,37.702604,127.170608,37.704000,127.168480,37.704000,127.168480,127.168480
39993,127.170608,37.702604,127.172735,37.702604,127.172735,37.704000,127.170608,37.704000,127.170608,127.170608
39994,127.172735,37.702604,127.174863,37.702604,127.174863,37.704000,127.172735,37.704000,127.172735,127.172735
39995,127.174863,37.702604,127.176990,37.702604,127.176990,37.704000,127.174863,37.704000,127.174863,127.174863
39996,127.176990,37.702604,127.179118,37.702604,127.179118,37.704000,127.176990,37.704000,127.176990,127.176990
39997,127.179118,37.702604,127.181245,37.702604,127.181245,37.704000,127.179118,37.704000,127.179118,127.179118
39998,127.181245,37.702604,127.183373,37.702604,127.183373,37.704000,127.181245,37.704000,127.181245,127.181245
39999,127.183373,37.702604,127.185500,37.702604,127.185500,37.704000,127.183373,37.704000,127.183373,127.183373

In [148]:
126.762128 - 126.76 + 127.020205

127.022333

In [149]:
%%time
Tree_separate(37.522895, 127.020205, 37.524291, 127.022333, tree)

Wall time: 1min 10s

     구명         위도          경도     수목명  품계수종    수고 품계활력  흉고지름 수관너비  Condition
0   강남구  37.524111  127.020484    은행나무   6.0   9.0   15  24.0    7  Excellent
1   강남구  37.523726  127.021244    버즘나무   6.0  10.0   15  23.0    7  Excellent
2   강남구  37.524026  127.021831    은행나무   6.0   9.0   15  21.0    5  Excellent
3   강남구  37.523947  127.021669    버즘나무   6.0   9.0   15  26.0    6  Excellent
4   강남구  37.523823  127.021435    버즘나무   6.0  10.0   15  23.0    6  Excellent
5   강남구  37.524158  127.020481    은행나무   6.0   9.0   15  23.0    7  Excellent
6   강남구  37.524062  127.020467    은행나무   6.0   9.0   15  24.0    6  Excellent
7   강남구  37.524135  127.022043    은행나무   6.0  10.0   15  33.0    7  Excellent
8   강남구  37.524094  127.020513    은행나무   6.0   9.0   15  23.0    7  Excellent
9   강남구  37.523578  127.020723    은행나무   6.0   9.0   15  23.0    7  Excellent
10  강남구  37.523862  127.021463    느티나무   6.0   6.0   15  21.0    6  Excellent
11  강남구  37.523774  127.021334    버즘나무   6.0  10.0   15  23.0    7  Excellent
12  강남구  37.524138  127.020430    은행나무   6.0   8.0   15  22.0    6  Excellent
13  강남구  37.523647  127.021082    가죽나무   6.0   6.0   15  25.0    6  Excellent
14  강남구  37.523457  127.020530  메타세쿼이아   2.0  10.0   15  25.0    6  Excellent
15  강남구  37.523528  127.020677    은행나무   6.0   9.0   15  26.0    7  Excellent
16  강남구  37.523319  127.020254  메타세쿼이아   2.0  10.0   15  22.0    6  Excellent
17  강남구  37.523807  127.020872    은행나무   6.0   9.0   15  24.0    6  Excellent
18  강남구  37.524030  127.021780    느티나무   6.0   7.0   15  23.0    6  Excellent
19  강남구  37.523644  127.021682    회화나무   8.0   6.0    8  13.0    4       Fair
20  강남구  37.523792  127.021484    회화나무   8.0   6.0    8  18.0    5       Fair
21  강남구  37.523709  127.020680    은행나무   6.0   9.0   15  24.0    7  Excellent
22  강남구  37.523693  127.021174    버즘나무   6.0  10.0   15  31.0    7  Excellent
23  강남구  37.524014  127.020696    은행나무   6.0  10.0   15  24.0    6  Excellent
24  강남구  37.523922  127.020781    가죽나무   6.0   8.0   15  23.0    6  Excellent
25  강남구  37.524084  127.020484    은행나무   6.0   9.0   15  24.0    7  Excellent
26  강남구  37.523969  127.021713    버즘나무   6.0   9.0   15  27.0    6  Excellent
27  강남구  37.524073  127.020527    은행나무   6.0   9.0   15  24.0    7  Excellent
28  강남구  37.524048  127.021881    은행나무   6.0   9.0   15  22.0    5  Excellent
29  강남구  37.524192  127.022136    은행나무   6.0  10.0   15  24.0    5  Excellent
..  ...        ...         ...     ...   ...   ...  ...   ...  ...        ...
60  강남구  37.523429  127.020760    회화나무   8.0   7.0    8  22.0    7       Fair
61  강남구  37.524070  127.022044    회화나무   8.0  11.0    8  26.0   11       Fair
62  강남구  37.523520  127.021444    회화나무   8.0   7.0    8  13.0    4       Fair
63  강남구  37.523566  127.021518    회화나무   8.0   5.0    8  10.0    3       Fair
64  강남구  37.523705  127.021324    회화나무   8.0   6.0    8  20.0    4       Fair
65  강남구  37.523886  127.022150    회화나무   8.0   9.0    8  22.0    8       Fair
66  강남구  37.523397  127.021177    회화나무   8.0   8.0    8  16.0    7       Fair
67  강남구  37.523837  127.022058    회화나무   8.0   7.0    8  15.0    5       Fair
68  강남구  37.523985  127.021871    회화나무   8.0  10.0    8  20.0    7       Fair
69  강남구  37.523493  127.020911    회화나무   8.0   7.0    8  17.0    7       Fair
70  강남구  37.524117  127.022143    회화나무   8.0   6.0    8  16.0    4       Fair
71  강남구  37.523666  127.021243    회화나무   8.0   9.0    8  25.0    8       Fair
72  강남구  37.524226  127.022216    회화나무   8.0   7.0    8  15.0    4       Fair
73  강남구  37.523931  127.021769    회화나무   8.0  10.0    8  20.0    7       Fair
74  강남구  37.523197  127.020311    회화나무   8.0   9.0    8  21.0    8       Fair
75  강남구  37.523600  127.021582    회화나무   8.0   5.0    8  10.0    3       Fair
76  강남구  37.523336  127.020579    회화나무   8.0   5.0    8  12.0    4       Fair
77  강남구  37.523000  127.020418    회화나무   8.0   6.0    8  18.0    8       Fair
78  강남구  37.523624  127.021162    회화나무   8.0   7.0    8  20.0    8       Fair
79  강남구  37.523942  127.022267    회화나무   8.0   7.0    8  16.0    8       Fair
80  강남구  37.522951  127.020322    회화나무   8.0   6.0    8  16.0    7       Fair
81  강남구  37.523244  127.020403    회화나무   8.0   3.0    8  12.0    2       Fair
82  강남구  37.523107  127.020611    회화나무   8.0   8.0    8  21.0    7       Fair
83  강남구  37.523575  127.021067    회화나무   8.0   6.0    8  15.0    7       Fair
84  강남구  37.523753  127.021409    회화나무   8.0  10.0    8  22.0    7       Fair
85  강남구  37.523590  127.021092    회화나무   8.0   7.0    8  18.0    7       Fair
86  강남구  37.523273  127.020943    회화나무   8.0   6.0    8  20.0    5       Fair
87  강남구  37.523798  127.021986    회화나무   8.0   7.0    8  12.0    3       Fair
88  강남구  37.522922  127.020260    회화나무   8.0   8.0    8  15.0    5       Fair
89  강남구  37.523836  127.021575    회화나무   8.0  10.0    8  24.0    7       Fair

[90 rows x 10 columns]

In [ ]:
def AreaCountTrees(lng, lat, dataset):
    area = SelectLocation(lng, lat)
    area_tree = pd.DataFrame(columns=list(set(tree['수목명'])))

    area_tree.loc[0] = (np.zeros(len(area_tree.columns)))

    for i in dataset.iterrows():

        if (area[0][0] < i[1][1] < area[1][0]) & (area[1][1] < i[1][2] < area[0][1]):

            area_tree[i[1][0]] += 1
    
    print(area_tree.sort_values(by=0, ascending=False, axis=1))
    return area_tree

In [156]:
tree["구명"].value_counts()

강남구     39632
강서구     35892
송파구     32222
영등포구    30737
강동구     25586
양천구     25521
서초구     25131
노원구     24498
마포구     16691
구로구     15612
동대문구    14318
광진구     14316
동작구     13709
관악구     13039
서대문구    12251
용산구     11461
성북구     11434
도봉구     11385
은평구     10095
금천구      9969
중구       9941
중랑구      9539
성동구      9383
강북구      9275
종로구      4363
Name: 구명, dtype: int64

In [155]:
tree[tree["구명"] == "강서구"]

,구명,위도,경도,수목명,품계수종,수고,품계활력,흉고지름,수관너비,Condition
65265,강서구,37.571258,126.807564,메타세쿼이아,4.0,7.0,8,20.0,4,Fair
65266,강서구,37.581719,126.798576,메타세쿼이아,4.0,12.0,8,26.0,7,Fair
65267,강서구,37.559630,126.858475,은행나무,8.0,7.0,8,15.0,3,Fair
65268,강서구,37.547184,126.875293,은행나무,8.0,10.0,6,28.0,6,Fair
65269,강서구,37.562987,126.847986,은행나무,8.0,8.0,6,12.0,5,Fair
65270,강서구,37.561358,126.816717,벚나무,4.0,5.0,8,15.0,5,Fair
65271,강서구,37.576694,126.811558,은행나무,8.0,4.0,4,10.0,1,Poor
65272,강서구,37.539444,126.863606,은행나무,8.0,6.0,8,28.0,4,Fair
65273,강서구,37.560676,126.846267,은행나무,8.0,8.0,6,17.0,5,Fair
65274,강서구,37.570726,126.837338,은행나무,8.0,7.0,8,10.0,4,Fair
65275,강서구,37.580493,126.798975,메타세쿼이아,4.0,11.0,8,29.0,6,Fair
65276,강서구,37.577632,126.811922,은행나무,8.0,4.0,4,10.0,1,Poor
65277,강서구,37.570605,126.811711,은행나무,8.0,9.0,8,17.0,5,Fair
65278,강서구,37.555955,126.837268,은행나무,8.0,7.0,8,14.0,3,Fair
65279,강서구,37.553312,126.816505,벚나무,4.0,4.0,8,7.0,2,Fair
65280,강서구,37.578400,126.812342,느티나무,8.0,4.0,4,10.0,1,Poor
65281,강서구,37.579542,126.813641,버즘나무,4.0,11.0,8,26.0,7,Fair
65282,강서구,37.572499,126.804371,메타세쿼이아,4.0,11.0,8,43.0,5,Fair
65283,강서구,37.572337,126.803893,메타세쿼이아,4.0,13.0,8,27.0,5,Fair
65284,강서구,37.576694,126.811558,은행나무,8.0,4.0,4,10.0,1,Poor
65285,강서구,37.562021,126.842090,느티나무,8.0,5.0,6,10.0,4,Fair
65286,강서구,37.543677,126.822163,버즘나무,4.0,15.0,8,38.0,8,Fair
65287,강서구,37.578765,126.812249,은행나무,8.0,7.0,8,12.0,4,Fair
65288,강서구,37.563879,126.806709,메타세쿼이아,4.0,12.0,8,35.0,7,Fair
65289,강서구,37.563879,126.806709,메타세쿼이아,4.0,12.0,8,35.0,7,Fair
65290,강서구,37.577294,126.819325,느티나무,8.0,6.0,8,16.0,6,Fair
65291,강서구,37.574803,126.820424,느티나무,8.0,6.0,8,15.0,6,Fair
65292,강서구,37.553105,126.869291,버즘나무,4.0,8.0,8,20.0,4,Fair
65293,강서구,37.568291,126.805245,메타세쿼이아,4.0,13.0,8,33.0,6,Fair
65294,강서구,37.577242,126.811779,은행나무,8.0,4.0,4,10.0,1,Poor
...,...,...,...,...,...,...,...,...,...,...
401773,강서구,37.552171,126.815810,소나무,NaN,0.0,0,23.0,0,Poor
401774,강서구,37.552557,126.815302,버즘나무,NaN,0.0,0,23.0,0,Poor
401775,강서구,37.552318,126.815617,칠엽수,NaN,0.0,0,23.0,0,Poor
401776,강서구,37.552873,126.814907,버즘나무,NaN,0.0,0,23.0,0,Poor
401777,강서구,37.552557,126.815302,버즘나무,NaN,0.0,0,23.0,0,Poor
401778,강서구,37.552557,126.815302,은행나무,NaN,0.0,0,23.0,0,Poor
401779,강서구,37.552873,126.814907,느티나무,NaN,0.0,0,23.0,0,Poor
401780,강서구,37.553103,126.814646,은행나무,NaN,0.0,0,23.0,0,Poor
401781,강서구,37.552094,126.815902,은행나무,NaN,0.0,0,23.0,0,Poor
401782,강서구,37.552231,126.815709,느티나무,NaN,0.0,0,23.0,0,Poor
401783,강서구,37.578495,126.812246,벚나무,8.0,4.0,4,10.0,1,Poor
401784,강서구,37.552171,126.815810,버즘나무,NaN,0.0,0,23.0,0,Poor
401785,강서구,37.552171,126.815810,버즘나무,NaN,0.0,0,23.0,0,Poor
401786,강서구,37.552094,126.815902,은행나무,NaN,0.0,0,23.0,0,Poor
401787,강서구,37.552094,126.815902,소나무,NaN,0.0,0,23.0,0,Poor
401788,강서구,37.552231,126.815709,느티나무,NaN,0.0,0,23.0,0,Poor
401789,강서구,37.578495,126.812246,물푸레나무,8.0,4.0,4,10.0,1,Poor
401790,강서구,37.552777,126.815020,메타세쿼이아,NaN,0.0,0,23.0,0,Poor
401791,강서구,37.578495,126.812246,은행나무,8.0,4.0,4,10.0,1,Poor
401792,강서구,37.578495,126.812246,느티나무,8.0,4.0,4,10.0,1,Poor
401793,강서구,37.552487,126.815398,느티나무,NaN,0.0,0,23.0,0,Poor
401794,강서구,37.552094,126.815902,은행나무,NaN,0.0,0,23.0,0,Poor
401795,강서구,37.552171,126.815810,은행나무,NaN,0.0,0,23.0,0,Poor
401796,강서구,37.552231,126.815709,소나무,NaN,0.0,0,23.0,0,Poor
401797,강서구,37.552404,126.815499,버즘나무,NaN,0.0,0,23.0,0,Poor
401798,강서구,37.552404,126.815499,메타세쿼이아,NaN,0.0,0,23.0,0,Poor
401799,강서구,37.552637,126.815218,은행나무,NaN,0.0,0,23.0,0,Poor
401800,강서구,37.552714,126.815108,은행나무,NaN,0.0,0,23.0,0,Poor
401801,강서구,37.552171,126.815810,버즘나무,NaN,0.0,0,23.0,0,Poor
401802,강서구,37.552714,126.815108,은행나무,NaN,0.0,0,23.0,0,Poor